@import "../../../assets/styles/_variables.scss";

agm-map {
  height: 300px;
}

.box {
  padding: 2rem;
}

a {
  text-decoration: none;
}

.separ {
  margin: 15px 0 15px 0;
  border: 1px solid $brand-primary;
}

i {
  color: white;
}

.text {
  padding: 9px 0 0 1rem;
}

label {
  color: $dark-gray;
  margin-top: 7px;
  font-weight: 450;
}

.icon {
  width: 35px;
  height: 35px;
  background-color: $brand-primary;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin: 0 0 1rem 0;
}
