<div class="container">

  <div class="box">
    <div class="grid-16 grid-16@tablet grid-16@mobile">
      <h1>Kontakt</h1>
      <div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>
    </div>

    <agm-map [zoom]="16" [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>


  <!-- <a id="zl-url" class="zl-url" href="https://www.znanylekarz.pl/marika-babczynska/fizjoterapeuta/szczecin" rel="nofollow"
    data-zlw-doctor="marika-babczynska" data-zlw-type="big" data-zlw-opinion="true" data-zlw-hide-branding="true">Marika
    Babczyńska - ZnanyLekarz.pl</a>
  <script>
    ! function ($_x, _s, id) {
      var js, fjs = $_x.getElementsByTagName(_s)[0];
      if (!$_x.getElementById(id)) {
        js = $_x.createElement(_s);
        js.id = id;
        js.src = "//www.docplanner-platform.com/js/widget.js";
        fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, "script", "zl-widget-s");
  </script> -->

  <div class="grid-16 grid-16@tablet grid-16@mobile">
    <div class="row">
      <div class="box grid-7 grid-16@tablet grid-16@mobile">
        <h3>Zadzwoń lub napisz</h3>
        <div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>
        <div class="row">
          <div class="icon">
            <i class="fas fa-phone"></i>
          </div>
          <div class="text">
            <a href="tel:792 722 800">
              <p>792 722 800</p>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="icon">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="text">
            <a href="m-babczynska@gmail.com">
              <p>m-babczynska@gmail.com</p>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-2 grid-16@tablet grid-16@mobile">
      </div>


      <div class="box grid-7 grid-16@tablet grid-16@mobile">
        <h3>Napisz do mnie już teraz</h3>
        <div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>
        <form #mailForm="ngForm" (ngSubmit)="sendMail()" novalidate>
          <div class="row">
            <div class="grid-7 grid-7@tablet grid-16@mobil">
              <label for="fname">Imię</label>
              <input type="text" class="input-control" name="name" #name="ngModel" [(ngModel)]="mail.name" placeholder="Imię.."
                maxlength="30" required>
            </div>
            <div class="grid-2 grid-2@tablet grid-16@mobil"></div>
            <div class="grid-7 grid-7@tablet grid-16@mobil">
              <label for="lname">Nazwisko</label>
              <input type="text" class="input-control" name="surname" #surname="ngModel" [(ngModel)]="mail.surname"
                placeholder="Nazwisko.." maxlength="50" required>
            </div>
          </div>
          <label for="userEmail">E-mail</label>
          <input type="email" class="input-control" name="userEmail" #userEmail="ngModel" [(ngModel)]="mail.userEmail"
            placeholder="e-mail.." maxlength="50" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
          <label for="subject">Temat</label>
          <select type="text" class="input-control" name="subject" #subject="ngModel" [(ngModel)]="mail.subject"
            required>
            <option value="Umów wizytę">Umów wizytę</option>
            <option value="Porada">Porada</option>
            <option value="Współpraca">Współpraca</option>
          </select>
          <label for="subject">Treść</label>
          <textarea type="text" class="input-control" name="text" #text="ngModel" [(ngModel)]="mail.text" maxlength="500"
            required></textarea>
          <button class="button button-primary" [disabled]="!mailForm.form.valid">Wyślij</button>
        </form>
      </div>
    </div>
  </div>
</div>
