<div>
    <div>
      <table>
        <tr>
          <td><i class="far fa-calendar-alt"></i> Data</td>
          <td><i class="far fa-envelope"></i> E-mail</td>
          <td><i class="fas fa-signature"></i> Imie i nazwisko</td>
          <td><i class="far fa-hand-point-down"></i> Temat</td>
          <td><i class="far fa-comment"></i> Treść</td>
        </tr>
        <tr *ngFor="let mail of mails | slice:start:end">
          <td>{{mail.dateCreated.toDate() | date: 'short'}}</td>
          <td>{{mail.userEmail}}</td>
          <td>{{mail.name}} {{mail.surname}}</td>
          <td>{{mail.subject}}</td>
          <td>{{mail.text}}</td>
        </tr>
      </table>
      <div class="row row-align-middle" *ngIf="mails">
        <div class="grid-16">
          <ng-container *ngIf="mails.length > 1">
            <pagination *ngIf="mails.length" [itemsList]="dataToChild" (pageData)="getPageData($event)"></pagination>
          </ng-container>
        </div>
      </div>
    </div>
