@import "../../../assets/styles/_variables.scss";
@import "../comment-list/comment-list.component.scss";

.separ {
  margin: 0 0 7px 0;
  border: 1px solid $brand-primary;
  width: 100%;
}

.top {
  margin-top: 3rem;
}

.wrapper {
  position: relative;
  max-width: 1000px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  margin: 2rem 0 2rem 0;
}

.comment-list {
  margin: 0 1rem 1rem 0rem;
  padding: 1rem 0rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  &:hover {
    background-color: $brand-primary-bg;
  }
}



// table {
//   width: 98%;
//   height: 100px;
//   border-collapse: collapse;
//   margin: 0 1rem 0 1rem;
// }


// td{
//   margin: 1rem 0 1rem 0;
//   padding: 1rem 7px 1rem 2rem;
//   min-width: 200px;
//   line-height: 1.6;
//   word-break: break-all;
// }


// tr:nth-child(1) {
//   margin: 1rem 0 1rem 0;
//   padding: 1rem 0 1rem 2rem;
//   min-width: 200px;
//   font-weight: bold;
//   border-bottom: solid 1px $brand-primary;
// }

// tr:not(:nth-child(1)) {
//   margin: 1rem 0 1rem 0;
//   padding: 1rem 0 1rem 2rem;
//   min-width: 200px;
//   border-bottom: solid 1px $brand-primary-bg;
// }

// tr {

//   text-decoration: none;
//   padding: 9px 20px;
//   font-weight: 400;
//   color: $darker-gray;
//   display: block;
//   &:hover {
//     border-radius: 7px;
//     background-color: $brand-primary-bg;
//     -moz-box-shadow:    3px 3px 5px 6px #ccc;
//     -webkit-box-shadow: 3px 3px 5px 6px #ccc;
//     box-shadow:         3px 3px 5px 6px #ccc;
//   }
// }
