<div>
  <div>
    <table>
      <tr>
        <td><i class="far fa-calendar-alt"></i> Data</td>
        <td><i class="far fa-envelope"></i> E-mail</td>
        <td><i class="fas fa-signature"></i> Imię</td>
        <td><i class="far fa-images"></i> Galeria</td>
        <td><i class="far fa-comment"></i> Komentarz</td>
      </tr>
      <!-- ; trackBy:comment?.id -->
      <tr *ngFor="let comment of comments | slice:start:end">
        <td>{{comment.dateCreated.toDate() | date: 'short'}}</td>
        <td>{{comment.email}}</td>
        <td>{{comment.firstName}}</td>
        <td>{{comment.galleryId}}</td>
        <td>{{comment.message}}</td>
      </tr>
    </table>
    <div class="row row-align-middle" *ngIf="comments">
      <div class="grid-16">
        <ng-container *ngIf="comments.length > 1">
          <pagination *ngIf="comments.length" [itemsList]="dataToChild" (pageData)="getPageData($event)"></pagination>
        </ng-container>
      </div>
    </div>
  </div>
