// @import "../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/_variables.scss";

h3 {
  margin: 0;
}

.box {
  background-color: white;
  border-radius: 7px;
  margin-bottom: 8rem;
  margin: 2rem;
  padding: 1rem;
  overflow: hidden;

  -webkit-box-shadow: 10px 10px 0px -1px rgba(133, 178, 75, 1);
  -moz-box-shadow: 10px 10px 0px -1px rgba(133, 178, 75, 1);
  box-shadow: 10px 10px 0px -1px rgba(133, 178, 75, 1);


  .description-box1,
  .description-box2,
  .description-box3,
  .description-box4 {
    padding: 2rem;

    p {
      line-height: 25px;
      text-align: justify;
    }
  }

  .description-box1,
  .description-box3 {
    position: relative;
    left: 150%;
  }

  .description-box4 {
    transform: scale(0.01);
    transition: 1s;
  }

  .description-box2 {
    position: relative;
    top: 1000px;
  }

  .description-box-title {
    position: relative;
    padding: 2rem 2rem 0 2rem;
    top: -300px;
  }


  .photo-box1,
  .photo-box2,
  .photo-box3,
  .photo-box4 {
    margin: 0 auto;
    padding: 2rem;
    // padding: 2rem 2rem 2rem 2rem;
    // margin: 0 auto;
    position: relative;
    // bottom: -30px;

    >img {
      width: 100%;
      border-radius: 7px;
      // -webkit-box-shadow: 10px 10px 0px -1px rgba(133, 178, 75, 1);
      // -moz-box-shadow: 10px 10px 0px -1px rgba(133, 178, 75, 1);
      // box-shadow: 10px 10px 0px -1px rgba(133, 178, 75, 1);
      transition: 0.5s;

      &:hover {
        -webkit-box-shadow: 10px 10px 0px -1px rgba(133, 178, 75, 1);
        -moz-box-shadow: 10px 10px 0px -1px rgba(133, 178, 75, 1);
        box-shadow: 10px 10px 0px -1px rgba(133, 178, 75, 1);
        transform: scale(1.05, 1.05);
      }
    }
  }

  .left {
    left: -1000px;
  }

  .right {
    left: 1000px;
  }

  .photo-box1,
  .photo-box3 {
    left: -150%;
  }

  .photo-box4 {
    top: 1000px;
  }

}


@media (max-width: 1024px) {



  .box {
    margin: 1rem;
    padding: 1rem;

    .photo-box1,
    .photo-box2,
    .photo-box3,
    .photo-box4 {
      margin: 0 auto;
      padding: 0rem;
      margin: 1rem auto;
    }

    .description-box-title {
      position: relative;
      padding: 1rem 1rem 0 1rem;
      top: -300px;
    }

    .description-box1,
    .description-box2,
    .description-box3,
    .description-box4 {
      padding: 0rem;

      h3 {
        line-height: 30px;
      }

    }
  }




  // .photo-box1,
  // .photo-box2,
  // .photo-box3,
  // .photo-box4 {

  // }

}

ngx-gallery /deep/ .ngx-gallery-icon {
  color: $brand-primary;
  // background: blue;
}

ngx-gallery {
  position: relative;
  // max-width: 60%;
  // left: 50%;
  // margin-left: 40%;
  // transform: translate(-50%);
}
