<!--
O MNIE
 -->

<div class="container">
  <div class="box grid-16 grid-16@tablet grid-16mobile">
    <div class="row">
      <div class="photo-box1 grid-4 grid-6@tablet grid-16@mobile">
        <img src="../../../assets/img/26677722_1869616136592458_3714931405636660151_o.jpg">
      </div>
      <div class="description-box1 grid-12 grid-10@tablet grid-16@mobile">
        <h3>Mgr fizjoterapii Marika Babczyńska</h3>
        <div class="separ"></div>
        <p>
          Moje doświadczenia wyniesione ze sportu skłoniły mnie do wyboru drogi zawodowej jaką jest fizjoterapia.
          Pasjonuje mnie ludzkie
          ciało i jego nieamowite w połączenia. W swojej pracy przede wszystkim skupiam się na odnalezieniu
          przyczyny
          zaburzeń. Poszukiwanie przyczyny zaburzeń, analiza zaburzenia oraz jej likwidacja sprawia mi wiele
          satysfakcji.
          Jestem pasjonatką sportu, zdrowego stylu życia oraz alternatywnych metod leczenia. Jestem świadoma faktu,
          że
          ból wpływa na wiele obszarów naszego życia, dlatego wpływając na jego zmniejszenie lub całkowite
          usunięcie
          poprawiam jednocześnie jakość życia mojego podopiecznego, co jest dla mnie ogromnie ważne.
        </p>
      </div>
    </div>
  </div>
</div>

<!--
WYKSZTALCENIE
-->

<div class="container">
  <div class="box grid-16 grid-16@tablet grid-16mobile">
    <div class="description-box-title grid-16 grid-16@tablet grid-16@mobile">
      <h3>Wykształcenie</h3>
      <div class="separ"></div>
    </div>
    <div class="row">
      <div class="photo-box2 left grid-5 grid-14@tablet grid-14@mobile">
        <img src="../../../assets/img/1.jpg">
      </div>
      <div class="description-box2 grid-6 grid-16@tablet grid-16@mobile">
        <p>
          Jestem absolwentką Pomorskiego Uniwersytetu Medycznego w Szczecinie, gdzie uzyskałam tytuł licencjata i
          magistra w 2016 roku.
          Tematem mojej pracy mgr był „Wpływ czynników ryzyka na urazy w siatkówce w Polsce” . Ćwiczenia praktyczne
          oraz
          ogromną ilość praktyk szkoleniowwych odbyłam na oddziałach ortopedii dorosłych, ortopedii dziecięcej,
          neurologii,
          neurochirurgii, kardiologii, OIOMie i wielu innych. Praktyki odbyłam również w pinierskich gabinetach
          prywatnych
          w Szczecinie i Policach. Zdaję sobie sprawę, że nauka trwa przez całe życie i zgodnie z tym nieustannie
          podnoszę
          swoje kwalifikację na szkoleniach.
        </p>
      </div>
      <div class="photo-box2 right grid-5 grid-14@tablet grid-14@mobile">
        <img src="../../../assets/img/2.jpg">
      </div>
    </div>
  </div>
</div>

<!--
SZKOLENIA
 -->

<div class="container">
  <div class="box grid-16 grid-16@tablet grid-16mobile">
    <div class="row">
      <div class="photo-box3 grid-4 grid-6@tablet grid-16@mobile">
        <img src="../../../assets/img/3.jpg">
      </div>
      <div class="description-box3 grid-12 grid-10@tablet grid-16@mobile">
        <h3>Szkolenia</h3>
        <div class="separ"></div>
        <p>
          Swoją pracę manualną opieram w głównej części na Medycynie Manualnej dr’a Składowskiego, który dokonał
          wielu odkryć w leczeniu
          ludzkiego ciała. Igłoterapia i pinoterapia są dla mnie ogromną pomocą w dotarciu tam gdzie moja ręka nie
          jest
          w stanie dotrzeć . Jego praktyka, doświadczenie i wiedza jest dla mnie ogromną inspiracją. Ważnym
          momentem
          w mojej karierze zawodowej było również poznanie modelu geodynamicznego dr’a Bieleckiego, od którego
          czerpie
          wiedzę z metod manipulacji, mobilizacji stawowych oraz stref odruchowych, a wszystko to jest oparte na
          kompensacjach,
          które dokonują się na skutek siły geodynamicznej, która działa na każdego z nas. Wiedzę na temat stóp i
          projektowania
          wkładki ortopedycznej zawdzięczam Piotrowi Kostrzębskiemu i firmie ICB medical - autralijskiej firmie,
          która
          jest pionierem w biomechanice stopy. Podstawy terapii wisceralnej dają mi możliwość wpływu na narządy
          wewnętrzna,
          które niejednokrotnie też „maczają palce” w zaburzeniach układu ruchu. Idealnym dopełnieniem mojej pracy
          jest
          akupunktura ucha, dzięki której za pomocą nerwu błędnego i nie tylko mogę wysłać szybką informację do
          mózgu,
          a tym samym spowodować działanie przeciwbólowe, przeciwobrzękowe, przeciwkrwotoczne czy podnoszące ogólną
          witalność
          człowieka.
        </p>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
    </div>
  </div>
</div>

<!--
PASJA
 -->

<div class="container">
  <div class="box grid-16 grid-16@tablet grid-16mobile">
    <div class="description-box4 grid-16 grid-16@tablet grid-16@mobile">
      <h3>Pasja</h3>
      <div class="separ"></div>

      <div class="grid-16 grid-16@tablet grid-16@mobile">
        <p>
          Od wielu lat pasjonowała mnie siatkówka, którą uprawiałam na poziomie 1-ligowym. Grałam w PSPS Chemik
          Police i KS Spójnia
          Stargard gdzie prowadziłam również ćwiczenia prewencyjne 1-ligowym koszykarzom. Aktualnie moją pasją
          stała
          się kalistenika i gimnastyka, która całościowo traktuje ciało człowieka. Poza tym uwielbiam podróżować, a
          czasem
          zagrać w grę na PC bądź dobrą planszówke.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="photo-box4 grid-4 grid-7@tablet grid-7@mobile">
        <img src="../../../assets/img/4.jpg">
      </div>
      <div class="photo-box4 grid-4 grid-7@tablet grid-7@mobile">
        <img src="../../../assets/img/5.jpg">
      </div>
      <div class="photo-box4 grid-4 grid-7@tablet grid-7@mobile">
        <img src="../../../assets/img/6.jpg">
      </div>
      <div class="photo-box4 grid-4 grid-7@tablet grid-7@mobile">
        <img src="../../../assets/img/7.jpg">
      </div>
    </div>
  </div>
</div>
