<div class="grid-16 grid-12@tablet grid-16@mobile">
  <h1>Panel admina</h1>
</div>
<div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>


<div class="container">

  <div class="row">
    <div class="grid-4 grid-4@tablet grid-16@mobil" *ngIf="user === false">
      <input class="input-control grid-16 grid-16@tablet grid-16@mobil" id="txtEmail" type="email" placeholder="Email"
        [(ngModel)]="email">
      <div class="grid-1 grid-16@tablet grid-16@mobil"></div>
      <input class="input-control grid-16 grid-16@tablet grid-16@mobil" id="txtPassword" type="password" placeholder="password"
        [(ngModel)]="pass">
    </div>
    <div class="grid-4 grid-4@tablet grid-16@mobil">
      <div class="row">
        <div *ngIf="user === false" class="btn grid-16 grid-16@tablet grid-16@mobil">
          <button class="button" id="btnLogin" (click)="logIn()">
            Log In
          </button>
        </div>

        <!-- <div *ngIf="user === false" class="btn grid-16 grid-16@tablet grid-16@mobil">
          <button class="button" id="btnSignUp" (click)="signUp()">
            Sign Up
          </button>
        </div> -->

        <div *ngIf="user === true" class="btn grid-16 grid-16@tablet grid-16@mobil" [hidden]="user === false">
          <button class="button " id="btnLogout" [hidden]="user === false" (click)="logOut()">
            Log out
          </button>
          <div>
            <i class="fas fa-info-circle"></i>
            <p>Aby usunąć lub edytować wpis należy przejsć do niego bezporednio na stronie.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<admin [hidden]="user === false"></admin>

<div [hidden]="user === false" id="lower-panel">
  <div class="top grid-16 grid-12@tablet grid-16@mobile">
    <div class="row">
      <div id="mail">
        <h5 id="mail-text">Ostatnie wiadomości</h5>
      </div>
      <div id="comments">
        <h5 id="comment-text">Ostatnie komentarze</h5>
      </div>
      <div id="tags">
        <h5 id="tags-text">Kolory tagów</h5>
      </div>
    </div>
  </div>
  <div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>

  <div id="mail-box">
    <div id="inner-mail-box">
      <mail-list [hidden]="user === false"></mail-list>
    </div>
  </div>
  <div id="comments-box">
    <div id="inner-comments-box">
      <comment-list [hidden]="user === false"></comment-list>
    </div>
  </div>
  <div id="tags-box">
    <div id="inner-tags-box">
      <tags-color [hidden]="user === false"></tags-color>
    </div>
  </div>
</div>
