@import "../../../assets/styles/_variables.scss";

.separ {
  margin: 0 0 7px 0;
  border: 1px solid $brand-primary;
  width: 100%;
}

.btn {
  margin: 4px 1rem 0rem 1rem;
}

#mail,
#comments,
#tags {
  margin: 3rem 0 0 0;
  padding: 0rem 1rem 0 1rem;
  cursor: pointer;
}

#mail {
  border-top-left-radius: 7px;
  background-color: $brand-primary;
}

#tags {
  border-top-right-radius: 7px;
}

// #mail-box,
// #comments-box,
// #tags-box {
//   position: relative;
//   // overflow: hidden;
// }

#comments-box,
#tags-box {
  display: none;
}

#inner-mail-box {
  position: relative;
}

#inner-comments-box {
  position: relative;
}

#inner-tags-box {
  position: relative;
}

#mail-text {
  color: white;
}

.panel {
  min-height: 200px;
}

i {
  color: $brand-primary;
  margin: 15px 0 5px 0;
}

p {
  line-height: 1.6;
}
