@import "../../../assets/styles/_variables.scss";

:host {
  display: block;
  padding: 3rem;
}

#name {
  width: 95%;
}

#name2 {
  width: 95%;
  float: right;
}


.separ {
  border: 1px solid $brand-primary;
  margin: 0 0 10px 0;
}

label {
  padding: 5px 0 5px 0;
}

button {
  margin-top: 2rem;
}

.comment-form {
  position: relative;
  // float: right;
  // clear: both;
}
