<div class="comment-form grid-16 grid-16@tablet grid-16@mobile">

  <h2>
    Dodaj Komentarz
  </h2>

  <div class=" separ"></div>

  <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm);" novalidate>

    <div class="row">
      <div class="grid-8 grid-8@tablet grid-8@mobile FirstName">
        <div id="name">
          <label><p>Imię</p></label>
          <input type="text" class="input-control" name="firstName" #firstName="ngModel" [(ngModel)]="comment.firstName" required>
          <p class="text-danger" [hidden]="firstName.valid || firstName.pristine">Imię wymagane!</p>
        </div>
      </div>
      <div class="grid-8 grid-8@tablet grid-8@mobile SecondName">
        <div id="name2">
          <label><p>Nazwisko</p></label>
          <input type="text" class="input-control" name="lastName" #lastName="ngModel" [(ngModel)]="comment.lastName" required>
          <p class="text-danger" [hidden]="lastName.valid || lastName.pristine">Nazwisko wymagane!</p>
        </div>
      </div>
    </div>

    <label><p>E-mail</p></label>
    <input id="mail" type="email" class="input-control" name="email" #email="ngModel" [(ngModel)]="comment.email" required>
    <p class="text-danger" [hidden]="email.valid || email.pristine">E-mail wymagany!</p>

    <label><p>Komentarz</p></label>
    <!-- <input id="msg" type="text" class="input-control"  name="message" #message="ngModel" [(ngModel)]="comment.message" required> -->
    <textarea class="input-control" name="message" maxlength="1000" #message="ngModel" [(ngModel)]="comment.message" required></textarea>
    <p class="text-danger" [hidden]="message.valid || message.pristine">Komentarz wymagany!</p>

    <button class="button button-primary" [disabled]="!commentForm.form.valid" (click)="sendComment(comment)">Send message</button>

  </form>
</div>

<!-- <div>
  <comments *ngFor="let item of comments" [comment]="item" (getCommentId)="onDelete($event)"></comments>
</div> -->
