@import "../../../assets/styles/_variables.scss";

.separ {
  border: 1px solid $brand-primary;
}

.photo {
  width: 100%;
  // padding: 0% 0% 2% 0%;
}

.photoSmall {
  display: inline-block;
  clear: both;
  width: 100%;
  height: 150px;
  // padding: 0% 0% 2% 0%;
  cursor: pointer;
  object-fit: cover;
}

.right-side {
  // margin-left: 1rem;
  padding: 3rem 3rem;
}

ngx-gallery {
  padding: 3rem;
}

.desc {
  margin-top: 1rem;
  p {
    line-height: 30px;
  }
}

:host ::ng-deep p {
  line-height: 25px;
}


a:hover {
  opacity: 0.6;
  cursor: pointer;
}

.comment-box {
  padding: 0 3rem;
}

span {
  display: block;
  padding: 1% 0 1% 0;
}

p {
  display: block;
  line-height: 23px;
  // width: 60%;
  text-align: justify;
}

// .desc {
//   margin: 20px 0 10px 0;
// }


.tags {
  // background: $brand-primary;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 7px 7px 7px 7px;
  padding: 6px 10px;
  margin: 5px 5px 5px 0;
  color: $lightest-gray;
  &:hover {
    background-color: $brand-primary;
    cursor: pointer;
  }
}

.thumb-photo {
  margin-bottom: 2rem;
}
