<div *ngIf="galleries.length">
  <div class="row">
    <div class="grid-8 grid-16@tablet grid-16@mobile description-text">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>

    <!-- <div class="grid-1 grid-16@tablet grid-16@mobile description-text"></div> -->
    <div class="grid-7 grid-16@tablet grid-16@mobile right-side">
      <h2>
        {{gallery.title}}
      </h2>
      <div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>
      <small>
        <span>{{gallery.dateCreated | polishDate}}</span>
      </small>
      <div class="grid-16 grid-16@tablet grid-16@mobile">
        <div class="tags" *ngFor="let item of gallery.tags; let i = index" [ngStyle]="{'background-color': item.color}">
          <div *ngIf="item.value">
            {{ item.value }}
          </div>
        </div>
      </div>
      <!-- <div class="desc">
          {{gallery.description}}
        </div> -->
      <div class="desc" [innerHTML]="gallery.description">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="grid-8"></div>
    <div class="grid-8 grid-16@tablet grid-16@mobile">
      <comment-form (pushComment)="updateComments($event)"></comment-form>
    </div>
  </div>
  <div *ngIf="comments.length" class="comment-box">
    <comments *ngFor="let item of comments" [comment]="item" (delComment)="deleteComment($event)"></comments>
  </div>
</div>
