@import "../../../assets/styles/_variables.scss";

.footer {
  background-color: $darker-gray;
  padding: 20px 10% 0 10%;
  color: $lightest-gray;
  position: relative;
  display: block;
  // width: 100%;
  min-height: 290px;
}

.box {
  text-align: center;
  position: relative;
  margin: 0 auto;
}


#logo {
  height: 140px;
  padding-bottom: 1rem;
}


p {
  padding: 0 0 12px 0;
}

h5 {
  color: white;
  padding-bottom: 1rem;
}

h6 {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  h5 {
    padding-top: 1rem;
    border-top: 1px solid white;
  }
}
