<div class="footer">
  <section class="container">
    <div class="row">
      <div class="box grid-5 grid-5@tablet grid-16@mobile">
        <img id="logo" src="../../../assets/img/angular-logo.png">
        <h5>LOKALIZACJA</h5>
        <p class="light">ul. Łukasińskiego 312/21</p>
        <p class="light">12-231 Szczecin</p>
      </div>
      <div class="box grid-5 grid-5@tablet grid-16@mobile">
        <h5>MENU</h5>
        <p><a routerLink="/home">Strona główna</a></p>
        <p><a routerLink="/omnie">O mnie</a></p>
        <p><a routerLink="/oferta">Oferta</a></p>
        <p><a routerLink="/cennik">Cennik</a></p>
        <p><a routerLink="/blog">Blog</a></p>
        <p><a routerLink="/faq">Faq</a></p>
        <p><a routerLink="/kontakt">Kontakt</a></p>
      </div>
      <div class="box grid-5 grid-5@tablet grid-16@mobile">
        <h5>KONTAKT</h5>
        <span>
          <h6>Telefon:</h6>
          <p class="light">633 345 124</p>
        </span>
        <span>
          <h6>E-mail:</h6>
          <p class="light">fizjonature@gmail.com</p>
        </span>
      </div>
    </div>
  </section>
</div>
