<div class="photo-container">
  <div class="hover-frame">
    <!-- <button class="hover-button button">CZYTAJ
    </button> -->
    <!-- <button class="hover-button button" routerLink="/blog/{{ gallery.galleryId }}">CZYTAJ
    </button> -->
    <div class="gallery">
      <div class="dropdown">
        <div *ngIf="ifLoggedOn" class="dropbtn">
          <i class="fas fa-bars"></i>
        </div>
        <div class="dropdown-content">
          <a (click)="onToggle()">
            <i class="fas fa-edit"></i> Edit</a>
          <a (click)="sendId(gallery.galleryId);">
            <i class="fas fa-trash-alt"></i> Remove</a>
        </div>
      </div>

      <div class="desc-box">
        <div class="desc-text">
          <a class="photo" routerLink="/blog/{{ gallery.galleryId }}">
            <h3 class="light">{{gallery.title}}</h3>
          </a>
          <div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>
          <small>
            {{gallery.dateCreated | polishDate}}
          </small>
          <div class="row">
            <div *ngFor="let i of gallery.tags">
              <small class="tags" [ngStyle]="{'background-color': i.color}">{{i.value}}</small>
            </div>
          </div>
        </div>
      </div>
      <img class="photo" src="{{gallery.thumbUrl}}" routerLink="/blog/{{ gallery.galleryId }}">
    </div>
  </div>
