@import "../../../assets/styles/_variables.scss";
.photo-container {
  padding: 10px;
  position: relative;
}

.gallery {
  height: 100%;
  position: relative;
  img {
    cursor: pointer;
    outline: none;
  }
}

// .hover-button {
//   position: absolute;
//   top: 50%;
//   left: 0;
//   right: 0;
//   margin-left: auto;
//   margin-right: auto;
//   transform: translateY(-50%);
//   width: 250px;
//   height: 20%;
//   z-index: 1;
//   color: white;
//   // font-weight: 600;
//   font-weight: 500;
//   border-color: white;
//   background-color: transparent;
//   background-repeat:no-repeat;
//   display: none;
//   &:hover {
//     box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.9);
//     animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
//   }
// }

// @-webkit-keyframes pulse {
//   to {box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);}
// }
// @keyframes pulse {
//   to {box-shadow: 0 0 0 45px rgba(255, 255, 255, 0);}
// }


// // przy hover
// .button {
// }
// .gallery:hover {
//   &.buttom-box:hover {
//     visibility: visible;
//     opacity: 1;
//     transition: visibility 0s linear 0s, opacity 300ms;
//   }
// }

.photo {
  object-fit: cover;
  border-radius: 7px;
  width: 100%;
  height: 275px;
  padding: 0% 0% 0% 0%; // clear: both;
  top: 0px;
  z-index: -1;
}

.desc-text {
  padding: 0 1rem 6px 1rem;
  width: 100%;
  position: absolute;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 0 0 7px 7px;
  bottom: 2px;
}

.tags {
  // background: $brand-primary;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 7px;
  padding: 6px 10px;
  margin: 6px 6px 6px 0;
  color: $lightest-gray;
  font-size: 11px;
  &:hover {
    background-color: $brand-primary;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

.botton-photo {
  padding: 4rem 1rem 1rem 1rem;
  width: 100%;
  button:hover {
    background-color: $brand-primary;
    color: white;
  }
}

.separ {
  margin: 0 0 7px 0;
  border: 1px solid $brand-primary-bg;
  width: 100%;
}

.dropbtn {
  color: rgb(255, 255, 255);
  border-radius: 7px;
  padding: 10px;
  font-size: 16px;
  border: none;
  float: right;
}

.dropdown {
  position: absolute; // position: relative;
  display: inline-block;
  right: 0;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: rgb(255, 255, 255);
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: $brand-primary;
  color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.photo {
  line-height: 30px;
}

// .dropdown:hover .dropbtn {background-color: #ffffff;}
@media only screen and (max-width: 1250px) {
  // span.gal-description {
  //   display: none !important;
  // }
  .photo-container {
    // padding: 3rem;
  }
  .photo {
    height: 425px;
  }

}
