@import "../../../assets/styles/_variables.scss";
.gallery {
  height: 140px;
}

.title-top {
  padding: 0 2rem 1rem 2rem;
}

.galleries-button {
  margin: 0 0 3rem 0;
}

.gallery-container {
  padding: 0 1rem;
}

img {
  width: 100%;
  height: 30%;

  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;

  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;

  margin: 1rem 0 1rem 0;
  clear: both;
  &:hover {
    -webkit-transform:scale(1.1) translateY(10px); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.1) translateY(150px); /* Opera */
     transform:scale(1.1) translateY(-10px);

     box-shadow: 0px 0px 0px #ccc;
     -moz-box-shadow: 0px 0px 0px #ccc;
     -webkit-box-shadow: 0px 0px 0px #ccc;
     -khtml-box-shadow: 0px 0px 0px #ccc;
  }
}

.button-box {
position: relative;
width: 100%;
height: 50px;
margin: 1rem 0 1rem 0;
}

a {
  // font-weight: normal;
  // text-decoration: none;
  position: absolute;
  width: 25%;
  top: 50%;
  // left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
}

// .button:hover {
//   background-color: $brand-primary;
// }

p {
  line-height: 23px;
}

span {
  display: block;
  padding-bottom: 2%;
}

.galleries {
  margin-left: 5%;
  margin-bottom: 3rem;
}

.content {
  padding: 1rem;
}

@media only screen and (max-width: 1024) {
  div.galleries {
    margin-left: 0;
  }
}

.inner-gallery-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
