<div class="container">
  <div class="title-top grid-16 grid-16@tablet grid-16@mobile">
    <h1>O mnie</h1>
    <div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>
  </div>



  <personal></personal>

  <div *ngIf="undefined !== news && news.length" class="title-top grid-16 grid-16@tablet grid-16@mobile">
    <h1>Aktualności</h1>
    <div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>
  </div>

  <news class="news-content" *ngFor="let item of news | slice:start:end; let i = index" [news]="item"></news>

  <div class="row row-align-middle" *ngIf="undefined !== news && news.length">
    <div class="grid-16">
      <ng-container>
        <pagination [itemsList]="dataToChild" (pageData)="getPageData($event)"></pagination>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="undefined !== lastGalleries && lastGalleries.length">
    <div class="title-top grid-16 grid-16@tablet grid-16@mobile">
      <h1>Najnowsze wpisy na blogu</h1>
      <div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>
    </div>

    <div class="row inner-gallery-box grid-16 grid-16@tablet grid-16@mobile">
      <gallery *ngFor="let item of [lastGalleries[0], lastGalleries[1], lastGalleries[2]]" [gallery]="item" class="gallery-container grid-5 grid-7@desktop grid-16@tablet grid-16@mobile"></gallery>
    </div>
    <div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>
  </ng-container>
</div>
