<form id="box" #galleryForm="ngForm" (ngSubmit)="uploadGallery(galleryForm)" novalidate>
  <div class="container">
    <div class="row">

      <div class="grid-15">
        <h2 class="form-title">Gallery</h2>
      </div>

      <!-- <div class="grid-15 grid-15@tablet grid-15@mobile">
        <label>Title</label>
        <input type="text" class="input-control" name="title" #title="ngModel" [(ngModel)]="gallery.title" required>
        <p class="text-danger" [hidden]="title.valid || title.pristine">Title required!</p>
      </div> -->

      <div class="grid-15 grid-15@tablet grid-15@mobile">
        <label>Title</label>
        <input type="text" class="input-control" id="title" name="title" #title="ngModel" [(ngModel)]="gallery.title"
          required>
        <p class="text-danger" [hidden]="title.valid || title.pristine">Title required!</p>
      </div>

      <div class="grid-15 grid-15@tablet grid-15@mobile">
        <label>Date</label>
        <input type="date" class="input-control" name="dateCreated" #dateCreated="ngModel" [(ngModel)]="gallery.dateCreated"
          required>
        <p class="text-danger" [hidden]="dateCreated.valid || dateCreated.pristine">Date required!</p>
      </div>

      <div class="grid-15 grid-15@tablet grid-15@mobile">
        <tag-input name="tags" [(ngModel)]='gallery.tags'>
          <tag-input-dropdown [appendToBody]="false" [displayBy]="'value'" [showDropdownIfEmpty]="true"
            [autocompleteItems]="uniqueTags">
          </tag-input-dropdown>
        </tag-input>
      </div>

      <!-- <div class="grid-15 grid-15@tablet grid-15@mobile">
        <tag-input name="tags" [(ngModel)]='gallery.tags'>
          <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteObservable]="['iTem1', 'item2', 'item3']">

          </tag-input-dropdown>
        </tag-input>
      </div> -->

      <div class="grid-15 grid-15@tablet grid-15@mobile">
        <label>Description</label>
        <textarea type="text" class="input-control" name="description" #description="ngModel" [(ngModel)]="gallery.description"
          required></textarea>
        <p class="text-danger" [hidden]="description.valid || description.pristine">Description required!</p>
      </div>

    </div>


    <div class="row">
      <div class="grid-15 grid-15@tablet grid-15@mobile">
        <h2 class="form-title">Photos</h2>
      </div>
    </div>

    <div class="drop grid-15 grid-15@tablet grid-15@mobile">
      <dropzone [config]="config" [message]="'Click or drag images here to upload'" (error)="onUploadError($event)"
        (success)="onUploadSuccess($event)"></dropzone>
    </div>

    <!-- <div *ngIf="isUploading">
      <h6 class="grid-15 grid-15@tablet grid-15@mobile" id="file-counter">Uploaded files {{ uploadCounter}} / {{ currentUpload.length }}</h6>
      <div *ngFor="let f of currentUpload, let i = index" class="progress grid-15 grid-15@tablet grid-15@mobile">
          <div class="text-bar">
            <h6>{{currentUpload[i]?.name}} | {{currentUpload[i]?.progress}} %</h6>
          </div>
          <div class="progress-bar" [ngStyle]="{ 'width': currentUpload[i]?.progress + '%' }"></div>
      </div>
    </div> -->

    <ng-container *ngIf="gallery.photos.length > 0">
      <div *ngFor="let p of gallery.photos, let i = index" class="grid-15 grid-15@tablet grid-15@mobile">
        <div *ngIf="p.name" class="photo-container">

          <div class="row">
            <div class="grid-2 grid-2@tablet grid-2@mobile">
              <img id="photo-thumbnail" src="{{p.url}}">
            </div>

            <div class="grid-14 grid-14@tablet grid-14@mobile">
              <div class="row">
                <div class="upload-text grid-14 grid-14@tablet grid-14@mobile">
                  <h6>{{p.name | slice:0:20}} | {{p?.progress}} %</h6>
                </div>

                <div class="btn-bar grid-2 grid-2@tablet grid-2@mobile">
                  <a *ngIf="i !== 0" class="up-btn" (click)="movePhoto(i, true);">
                    <i class="fas fa-arrow-circle-up"></i>
                  </a>
                  <a *ngIf="i !== gallery.photos.length - 1" class="down-btn" (click)="movePhoto(i);">
                    <i class="fas fa-arrow-circle-down"></i>
                  </a>
                  <a class="remove-btn" (click)="removePhoto(i, true);">
                    <i class="fas fa-times-circle"></i>
                  </a>
                </div>

                <div class="progress grid-15 grid-15@tablet grid-15@mobile">
                  <div class="text-bar">
                  </div>
                  <div class="progress-bar" [ngStyle]="{ 'width': p.progress + '%' }"></div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </ng-container>

  </div>

  <div class="row">
    <div class="grid-15 buttons">
      <button class="button button-primary" [disabled]="!galleryForm.form.valid">Save gallery</button>
      <button id="reset" type="reset" class="button button-primary" (click)="clearPopUp()">Clear</button>
    </div>
  </div>
</form>
