@import "../../../assets/styles/_variables.scss";

.body {
  overflow: hidden;
}

.button {
  margin: 10px 10px 0 0;
  width: 170px;
  &:hover {
    background-color: $brand-primary;
    color: white;
  }
}

#box {
  padding: 1rem;
}

label {
  margin: 10px 10px 2px 0;
}

.separ {
  margin-top: 15px;
  border: 1px solid $brand-primary;
}

// fieldset { border:2px solid $brand-primary }

.form-title {
  border-left: 6px solid $brand-primary;
  background-color: $brand-primary-bg;
  padding: 20px 0 20px 20px;
  margin-top: 1rem;
}

.photo-container {
  margin: 5px 0 5px 0;
  padding: 5px 5px 5px 5px; // border: 1px solid $brand-primary;
  background-color: $brand-primary-bg;
  border-radius: 7px;
  &:hover .btn-bar {
    display: block;
  }
  &:hover {
    background-color: $brand-primary-bg;
  }
}

.btn-bar {
  display: none;
  color: rgb(0, 158, 250);
}

.remove-btn {
  position: relative;
  float: right;
  color: rgb(185, 2, 2);
  cursor: pointer;
  clear: both;
}

.up-btn .down-btn {
  display: block;
  padding-left: 5px;
  position: relative;
  float: right;
  color: rgb(0, 158, 250);
  cursor: pointer;
  clear: both;
}

.buttons {
  position: relative;
  bottom: 0;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

#photo-thumbnail {
  width:100%;
  height:50px;
  padding: 0% 0% 0% 0%;
  clear: both;
  object-fit: cover;
  border-radius: 7px;
}


#file-counter {
  font-weight: bold;
  border-left: 6px solid $brand-primary;
  background-color: $brand-primary-bg;
  padding: 10px 0 10px 20px;
  margin-top: 1rem;
}


.progress {
  position: relative;
  // margin: 2px 0 5px 0;
  margin-left: 10px;
  border-radius: 7px;
  width: 100%;
  height: 5px;
  background-color: rgb(177, 30, 30);
}

.progress-bar {
  border-radius: 7px;
  height: 5px;
  background-color: $brand-primary;
  // width: 50%;
  transition: 0.5s;
  // -webkit-transition: margin-right 1200ms ease-in-out;
  // -moz-transition: margin-right 1200ms ease-in-out;
  // -o-transition: margin-right 1200ms ease-in-out;
  // -ms-transition: margin-right 1200ms ease-in-out;
  // transition: margin-right 1200ms ease-in-out;
}

.text-bar {
  position: absolute;
  top: 6px;
  width: 100%;
  text-align: center;
  color: black;
  font-weight: bold;
}

.upload-text {
  padding-left: 5px;
  margin: 6px 0 6px 0;
}
