@import "../../../assets/styles/_variables.scss";

.pop-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  // display: none;
}

.pop-inner {
  position: relative;
  // height: 100px;
  // width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  background-color: #fff;
  border-radius: 7px;
  z-index: 90;
  padding: 1rem 1rem 1rem 1rem;
}

p {
  line-height: 1.6;
}

.btn {
  margin: 1rem 10px 0 0;
}

#btn-yes {
  background-color: $brand-success;
  border-color: $brand-success;
  &:hover {
    background-color: transparent;
    background-repeat: no-repeat;
    color: $brand-success;
    border-color: $brand-success;
  }
}

#btn-no {
  background-color: $brand-danger;
  border-color: $brand-danger;

  &:hover {
    background-color: transparent;
    background-repeat: no-repeat;
    color: $brand-danger;
    border-color: $brand-danger;
  }
}

#cancel {
  width: 0.9em;
  height: 0.9em;
  position: absolute;
  margin-right: auto;
  right: 0;
  margin-top: 2%;
  z-index: 1;
  font-family: helvetica, arial, sans-serif;
  font-weight: lighter;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  border-radius: 7px;

  &:hover {
    color: $brand-success;
  }
}

#cancel:after {
  content: 'X';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleX(1.2);
  transform: translate(-50%, -50%) scaleX(1.2);
}
