<div *ngIf="modal === true">
  <div class="container">
    <div class="pop-outer">
      <div class="row">
        <!-- <div class="grid-1 grid-1@tablet grid-1@mobile">
      </div> -->
        <div class="pop-inner grid-3 grid-14@tablet grid-14@mobile">
          <div class="text-muted">
            <p>{{text}}</p>
          </div>
          <div class="row">
            <div class="btn">
              <a id="btn-yes" class="button" (click)="removal(1)">Tak</a>
            </div>
            <div class="btn">
              <a id="btn-no" class="button" (click)="removal(0)">Nie</a>
            </div>
          </div>
        </div>
        <!-- <div class="grid-1 grid-1@tablet grid-1@mobile">
        <a id="cancel" (click)="onToggle()"></a>
      </div> -->
      </div>
    </div>
  </div>
</div>
