@import "../../../assets/styles/_variables.scss";

.prices-box {
  padding: 2rem;
}

table {
  width: 100%;
  height: 100px;
  border-collapse: collapse;
}


td {
  min-width: 350px;
  line-height: 1.6;
  text-align: center;
  max-width: 150px;
  padding: 0 3rem;
}

tr {
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  color: $darker-gray;
  background: white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover:not(:nth-child(1)) {
    background: $brand-primary-gradient;
    color: white;
  }
}

tr:nth-child(1) {
  // padding: 1rem 0 1rem 3rem;
  min-width: 350px;
  font-weight: bold;
  border-bottom: solid 1px $brand-primary;
  border-radius: 7px 7px 0 0;
}

tr:not(:nth-child(1)) {
  // padding: 1rem 0 1rem 3rem;
  // min-width: 350px;
  border-bottom: solid 1px $brand-primary;
}

tr:last-child {
  // padding: 1rem 0 1rem 3rem;
  // min-width: 350px;
  border-bottom: none;
  border-radius: 0 0 7px 7px;
}

.wrapper {
  // padding: 0 10rem;
  padding: 0 4rem;
  position: relative;
  // max-width: 900px;
  // left: 50%;
  margin: 0 auto;
  // margin-right: -50%;
  // transform: translate(-50%);
  // margin: 2rem 0 2rem 0;
  // margin: 0 auto;
}


@media (max-width: 1200px) {
  td {
    display: block;
    text-align: center;
    // padding-left: 0rem;
    // padding: 9px 30px;
    padding: 1rem;
    max-width: none;
    min-width: 50px;
  }

  tr:nth-child(1) {
    // padding: 1rem 0 1rem 3rem;
    min-width: 50px;
  }

  tr {
    min-width: 50px;
  }


  .wrapper {
    padding: 0;
  }

  tr {
    display: block;
    padding: 9px 30px;
    height: 250px;
  }
}
