<div class="container">
  <div class="prices-box">
    <div class="grid-16 grid-12@tablet grid-16@mobile">
      <h1>Cennik</h1>
    </div>
    <div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>

    <div class="grid-16 grid-16@tablet grid-16@mobile">
      <div class="wrapper">
        <table>
          <tr>
            <td>Zabieg</td>
            <td>Czas</td>
            <td>Cena</td>
          </tr>
          <tr>
            <td>Pierwsza wizyta: terapia manulana i konsultacja fizjoterapeutyczna </td>
            <td>90 min</td>
            <td>120 zł</td>
          </tr>
          <tr>
            <td>Fizjoterapia i terapia manualna</td>
            <td>30 min | 60 min</td>
            <td>60 zł | 100 zł</td>
          </tr>
          <tr>
            <td>Konsultacja fizjoterapeutyczna</td>
            <td>30 min</td>
            <td>60 zł</td>
          </tr>
          <tr>
            <td>Badanie stóp i postawy ciała </td>
            <td>45 min</td>
            <td>80 zł</td>
          </tr>
          <tr>
            <td>Dobór indywidualnej wkładki ortopedycznej </td>
            <td> </td>
            <td>250 zł</td>
          </tr>
          <tr>
            <td>Masaż leczniczy | tkanek głębokich </td>
            <td>30 min | 60 min</td>
            <td>60 zł | 90 zł</td>
          </tr>
          <tr>
            <td>Masaż sportowy </td>
            <td>60 min</td>
            <td>100 zł</td>
          </tr>
          <tr>
            <td>Masaż relaksacyjny </td>
            <td>60 min | 90 min</td>
            <td>80 zł | 120 zł</td>
          </tr>
          <tr>
            <td>Masaż lodem | bańką chińską </td>
            <td>30 min</td>
            <td>60 zł</td>
          </tr>
          <tr>
            <td>Kinezjotaping</td>
            <td>pierwsza aplikacja | kolejna</td>
            <td>50 zł | 20-30 zł</td>
          </tr>
          <tr>
            <td>Indywidualne ćwiczenia rehabilitacyjne | funkcjonalne | zdrowy kręgosłup </td>
            <td>45 min</td>
            <td>80 zł</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
