<div id="box" class="grid-16 grid-16@tablet grid-16@mobile">
  <div class="container">
    <div class="grid-5 grid-6@tablet grid-7@mobile" id="visit-outer">
      <div class="visit-inner">
        <p class="light">UMÓW SIĘ NA WIZYTĘ</p>
      </div>
      <div class="row btn-visit">
        <div class="icon-top grid-3 grid-13@tablet grid-13@mobile">
          <img src="../../../assets/img/icons/appointment2.png">
        </div>
        <div class="grid-8 grid-13@tablet grid-13@mobile">
          <div class="grid-16 grid-16@tablet grid-16@mobile">
            <a href="https://atelierzdrowiaiurody.versum.com/?employee_id=4260484">
              <button class="buttonfx angleinleft">E-kalendarz</button>
            </a>
          </div>

          <div class="grid-16 grid-16@tablet grid-16@mobile">
            <a href="tel:792 722 800">
              <button class="buttonfx angleinleft">Zadzwoń</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-16 grid-16@tablet grid-16@mobile">
    <div class="slider-img">
      <div id="photo-cover"></div>
      <!-- <img src="../assets/img/slider/6.jpg"> -->
    </div>
  </div>

  <!-- <div id="slide-show" class="row">
    <div class="slider-img">
      <img src="../assets/img/slider/1.jpg">
    </div>
    <div class="slider-img">
      <img src="../assets/img/slider/3.jpg">
    </div>
    <div class="slider-img">
      <img src="../assets/img/slider/4.jpg">
    </div>
    <div class="slider-img">
      <img src="../assets/img/slider/5.jpg">
    </div>
    <div class="slider-img">
      <img src="../assets/img/slider/6.jpg">
    </div>
  </div> -->
</div>

<div id="go-up" (click)="goUp()">
  <div class="icon">
    <i class="fas fa-chevron-up"></i>
  </div>
</div>

<confirmation></confirmation>
