@import "../../../assets/styles/_variables.scss";

#box {
  overflow: hidden;
  width: 100%;
  height: 800px;
}

#visit-outer {
  padding: 1rem;
  position: absolute;
  right: 8%;
  top: 27%;
  z-index: 3;
  // width: 20%;
  // height: 330px;
  // background: $brand-primary-gradient;
  border-radius: 15px;
  overflow: hidden;
  display: none;
  // filter: drop-shadow(16px 16px 10px rgb(61, 61, 61));
}

#photo-cover {
  position: relative;
  background-color: $brand-primary;
  // width: 1000px;
  width: 1000px;
  height: 1900px;
  z-index: 1;
  transform: rotate(-10deg);
  top: -300px;
  right: -65%;
  filter: opacity(0.5);
  margin-left: 2000px;
}

.visit-inner {
  position: relative;
  padding: 0 1rem 1rem 0;
  color: white;
  font-size: 2.2vw;
  font-weight: 300;
  margin: 0 0 10px 0rem;
  // text-align: center;
  top: -500px;
}

.icon-top>img {
  width: 100%;
}

.icon-top {
  // margin: 0 10px 0 10px;
  margin: 0 5px 10px 0;
  // margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.btn-visit {
  position: relative;
  // margin: 0 2rem 0rem 2rem;
  left: 500px;
}

// .btn-visit>button {
//   position: relative;
//   height: 60px;
//   background: white;
//   color: $brand-primary;
//   border: none;
//   transition: all .5s;
//   overflow: hidden;
//   text-transform: uppercase;
// }
.buttonfx {
  font-size: 12px;
  color: $brand-primary-second;
  outline: none;
  background: transparent;
  border-radius: 7px;
  // border: none;
  border: solid 3px white;
  letter-spacing: 0.0625em;
  padding: 8px 8px;
  text-transform: uppercase;
  line-height: 2;
  position: relative;
  display: inline-block;
  margin: 0 5px 10px 2rem;
  // margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  transition: all .5s;
  width: 100%;
  // border-radius: $border-radius-base;
}



.buttonfx:before,
.buttonfx:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: $brand-primary;
  z-index: -1;
  transform: translate3D(0, -100%, 0);
  transition: all .5s;
}

.buttonfx:before {
  background: white;
  z-index: -2;
  transform: translate3D(0, 0, 0);
}

.buttonfx:hover {
  color: white;
}

.buttonfx:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all .5s;
}

.angleinleft:after {
  width: 200%;
  transform-origin: 0 bottom;
  transform: translate3D(-50%, 0, 0) rotate(0deg);
  top: -100px;
}

.angleinleft:hover:after {
  transform: rotate(0deg);
  transition: all .5s;
  top: 0;
}

#box::after {
  content: "";
  clear: both;
  display: table;
}

// #slide-show {
//   position: relative;
//   width: 500%;
//   -webkit-transition: margin-left 1200ms ease-in-out;
//   -moz-transition: margin-left 1200ms ease-in-out;
//   -o-transition: margin-left 1200ms ease-in-out;
//   -ms-transition: margin-left 1200ms ease-in-out;
//   transition: margin-left 1200ms ease-in-out;
// }

.slider-img {
  // align-self: center;
  position: relative;
  // top: -200px;
  // width: 33.3333%;
  width: 100%;
  // float: left;
  // filter: drop-shadow(16px 16px 20px blue);
  height: 1000px;
  background-image: url('../../../assets/img/slider/6.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



// @media (max-width: 1685px) {
//   #box {
//     height: 360px;
//   }
// }
.slider-img>img {
  width: 100%;
  height: 100%;
  // position: relative;
  // bottom: 0;
  //   margin-left: 50%;
  // transform: translateX(-50%);
}

#go-up {
  bottom: -0;
  right: 2%;
  position: fixed;
  width: 50px;
  height: 0;
  background-color: $brand-primary;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
  cursor: pointer;

  &:hover {
    // height: 60px;
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.icon {
  display: none;
}

i {
  // transition: 0.5s;
  color: white;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


@media (max-width: 1024px) {

  .icon-top>img {
    width: 20%;
  }

  .buttonfx {
    font-size: 1.5vw;
    margin: 0 5px 10px 0;
  }

  .visit-inner {
    font-size: 2.4vw;
    margin: 0 0px 10px 0rem;
  }
}

@media (max-width: 1400px) {
  #box {
    height: 600px;
  }

  #photo-cover {
    right: -60%;
  }

}

@media (max-width: 1099px) {
  .slider-img {
    top: 0;
  }

  #box {
    height: 500px;
  }

  // #visit-outer {
  //   left: 10%;
  //   top: 30%;
  // }
}

@media (max-width:768px) {

  .visit-inner,
  .btn-visit,
  #photo-cover {
    display: none;
  }
}
