<div class="grid-16 grid-16@tablet grid-16@mobile">
  <div class="wrapper">
    <section class="pen grid-16 grid-16@tablet grid-16@mobile">
      <div class="stage">
        <div class="element michael" (click)="openOffer(1)">
          <div class="content">
            <div class="text">IGŁOTERAPIA
              <img src="../../../../assets/img/icons offer/acupuncture.png">
            </div>
          </div>
        </div>
        <div class="element franklin" (click)="openOffer(2)">
          <div class="content">
            <div class="text">WKŁADKI ORTOPEDYCZNE
              <img src="../../../../assets/img/icons offer/slippers.png">
            </div>
          </div>
        </div>
        <div class="element trevor" (click)="openOffer(3)">
          <div class="content">
            <div class="text">REFLEKSOTERAPIA
              <img src="../../../../assets/img/icons offer/brain.png">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pen grid-16 grid-16@tablet grid-16@mobile">
      <div class="stage2">
        <div class="element2 michael" (click)="openOffer(4)">
          <div class="content">
            <div class="text">PINOTERAPIA
              <img src="../../../../assets/img/icons offer/knitting-neddles.png">
            </div>
          </div>
        </div>
        <div class="element2 franklin" (click)="openOffer(5)">
          <div class="content">
            <div class="text">TERAPIA WISCERALNA
              <img src="../../../../assets/img/icons offer/intestine.png">
            </div>
          </div>
        </div>
        <div class="element2 trevor" (click)="openOffer(6)">
          <div class="content">
            <div class="text">TERAPIA MANUALNA
              <img src="../../../../assets/img/icons offer/chiropractic.png">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="grid-16 grid-16@tablet grid-16@mobile">
  <offer-details [offer]="offerToDisplay"></offer-details>
</div>









<!-- <div class="grid-16 grid-16@tablet grid-16@mobile">
  <div class="wrapper">
    <div>
      <div class="offer-box grid-16 grid-16@tablet grid-16@mobile">
        <div class="row">
          <div class="photo-outter-box grid-4 grid-4@tablet grid-4@mobile">
            <img class="photo-box" src="../../../assets//img/slider/1.jpg">
          </div>
          <div class="text grid-11 grid-16@tablet grid-16@mobile">
            <p>
              MASAŻ GORĄCYMI KAMIENIAMI
            </p>
          </div>
          <div class="text grid-1 grid-16@tablet grid-16@mobile">
            <img class="icon" src="../../../assets//img//icons/more.png">
          </div>
        </div>
      </div>
      <div class="outter-hidden-content">
        <div class="inner-hidden-content">
          TESTETSTSTSTSFDHASDFBNSDGBFSIDGBSDBSDBVS TESTETSTSTSTSFDHASDFBNSDGBFSIDGBSDBSDBVS TESTETSTSTSTSFDHASDFBNSDGBFSIDGBSDBSDBVS
          TESTETSTSTSTSFDHASDFBNSDGBFSIDGBSDBSDBVS TESTETSTSTSTSFDHASDFBNSDGBFSIDGBSDBSDBVS TESTETSTSTSTSFDHASDFBNSDGBFSIDGBSDBSDBVS
          TESTETSTSTSTSFDHASDFBNSDGBFSIDGBSDBSDBVS TESTETSTSTSTSFDHASDFBNSDGBFSIDGBSDBSDBVS TESTETSTSTSTSFDHASDFBNSDGBFSIDGBSDBSDBVS
          TESTETSTSTSTSFDHASDFBNSDGBFSIDGBSDBSDBVS TESTETSTSTSTSFDHASDFBNSDGBFSIDGBSDBSDBVS TESTETSTSTSTSFDHASDFBNSDGBFSIDGBSDBSDBVS
        </div>
      </div>
    </div>
  </div>
</div> -->
