@import "../../../../assets/styles/_variables.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

// body {
//   padding: 3em 2em;
//   font-family: 'Roboto', sans-serif;
//   font-size: 1em;
//   margin: 0;
//   padding: 0;
//   line-height: 1;
//   background: #111111;
// }

.pen, .offer1  {
  // max-width: 635px;
  width: 100%;
  margin: 5px auto;
  opacity: 0;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-animation: 1s appear 1 forwards;
  -moz-animation: 1s appear 1 forwards;
  -o-animation: 1s appear 1 forwards;
  animation: 1s appear 1 forwards;
}

.content {
  width: 100%;
  height: 100%;
  // background-color: $brand-primary-hover;
  background: $brand-primary;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element:nth-child(1) {
  border-top-left-radius: 10px;
}

.element:nth-child(3) {
  border-top-right-radius: 10px;
}

.element2:nth-child(1) {
  border-bottom-left-radius: 10px;
}

.element2:nth-child(3) {
  border-bottom-right-radius: 10px;
}

.text {
  // transform: translate(-50%, -50%);
  // position: absolute;
  // top: 50%;
  // left: 50%;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  // font-size: 1.5vw;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1.5px;
  // z-index: 2;
  > img {
    position: relative;
    display: block;
    margin: 20px auto 0 auto;
    width: 64px;
  }
}

// .offer1 {
//   width: 100%;
//   margin: 5px auto 0;
//   position: relative;
//   word-wrap: break-word;
//   max-width: 635px;
// }

.stage,
.stage2 {
  max-width: 635px;
  width: 100%;
  height: 200px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.element,
.element2 {
  // background: green;
  width: 202px;
  -webkit-transform-origin: 50% 50%;
  height: 200px;
  margin: 0 7px 0 0;
  display: inline-block;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  overflow: hidden;
}

.element.active,
.element2.active {
  width: 282px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.other-pen {
    -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0.4;
}

.element.inactive,
.element2.inactive {
  width: 162px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0.4;
}

.element.franklin,
.element2.franklin {
  // background: url('../../../../assets/img/slider/1.jpg') 45% 0 no-repeat;
  background-size: cover;
}

.element.michael,
.element2.michael {
  // background: url('http://www.eduardmayer.de/codepen-css-resources/images/gta/michael.jpeg') 45% 0 no-repeat;
  background-size: cover;
}

.element.trevor,
.element2.trevor {
  // background: url('http://www.eduardmayer.de/codepen-css-resources/images/gta/trevor.jpeg') 45% 0 no-repeat;
  background-size: cover;
}

.element:last-of-type,
.element2:last-of-type {
  margin: 0;
}

@media all and (min-width: 900px) {
  .pen, .offer1  {
    max-width: 890px;
  }
  .element,
  .element2 {
    width: 286px;
  }
  .element.inactive,
  .element2.inactive {
    width: 246px;
  }
  .element.active,
  .element2.active {
    width: 366px;
  }
  .stage,
  .stage2 {
    max-width: 890px;
    height: 200px;
  }
}

@media all and (max-width: 660px) {
  .pen, .offer1  {
    max-width: 335px;
  }
  .element,
  .element2 {
    width: 101px;
  }
  .element.inactive,
  .element2.inactive {
    width: 61px;
  }
  .element.active,
  .element2.active {
    width: 181px;
  }
  .stage,
  .stage2 {
    max-width: 335px;
  }
  .text {
    font-size: 1.7vw;
  }
}

@-webkit-keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// .photo-outter-box {
//   position: relative;
//   width: 100%;
//   padding-right: 2rem;
// }
// .photo-box {
//   width: 100%;
//   height: 150px;
//   border-top-left-radius: 15px;
//   border-bottom-left-radius: 15px;
// }
// .offer-box {
//   width: 100%;
//   height: 150px;
//   background-color: $brand-primary-bg;
//   border-radius: 15px;
//   margin-bottom: 1rem; // box-sizing: border-box;
//   // -moz-box-sizing: border-box;
//   // -webkit-box-sizing: border-box;
//   // border: 7px solid $brand-primary;
//   overflow: hidden;
// }
// .text {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   height: 150px;
//   color: white;
//   font-weight: 340;
//   font-size: 22px;
//   color: $dark-gray;
//   padding: 0 1rem 0 1rem;
// }
// p {
//   text-align: center;
// }
// .icon {
//   filter: opacity(70%);
//   transform: scale(0.5);
//   -webkit-transform: scale(0.5);
//   -moz-transform: scale(0.5);
//   -o-transform: scale(0.5);
// }
// .outter-offer-box {
//   // border: solid 7px $brand-primary-bg;
//   border-radius: 23px;
//   margin-bottom: 1rem;
// }
// .inner-hidden-content{
//   position: relative;
//   // display: none;
//   // top: -500px;
//   height: 100%;
// }
// .outter-hidden-content {
//   position: relative;
//   padding: 0 1rem 1rem 1rem;
//   // margin: 1rem 1rem 1rem 1rem;
//   display: inline-block;
//   overflow: hidden;
//   opacity: 0;
//   transition: all 2s linear;
//   vertical-align: top;
//   height: 0px;
// }
