<div class="searchBlock">
  <input class="input-control" type="text" name="searchValue" [(ngModel)]="value" placeholder="Szukaj" (keyup)="onChange()"
    #searchInput>
  <!-- (keyup)="onChange()" -->

  <!-- <small>
    <p>Ilość wpisów | {{galleries.length}}</p>
  </small> -->
</div>
