@import "../../../assets/styles/_variables.scss";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "../log-in/log-in.component.scss";
@import "../nav/nav.component.scss";

.pop-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.pop-inner {
  position: relative;
  height: 650px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  background-color: #fff;
  border-radius: 7px;
  z-index: 90;
}

#cancel {
  width: 0.9em;
  height: 0.9em;
  position: absolute;
  margin-right: auto;
  right: 0;
  margin-top: 2%;
  z-index: 1;
  font-family: helvetica, arial, sans-serif;
  font-weight: lighter;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  border-radius: 7px;
  &:hover {
    color: $brand-primary;
  }
}

#cancel:after {
  content: 'X';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) scaleX(1.2);
  transform: translate(-50%,-50%) scaleX(1.2);
}

.separ {
  margin: 0 0 7px 0;
  border: 1px solid $brand-primary;
  width: 100%;
}

.top {
  margin-top: 3rem;
}

.btn{
  margin: 4px 1rem 0rem 1rem;
}
