<div class="top grid-16 grid-12@tablet grid-16@mobile">
  <h1>Dodawaj nowe treści</h1>
</div>
<div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>
<div class="container">
  <div class="grid-16 grid-15@tablet grid-15@mobile">
    <div class="row">
      <div class="btn grid-4 grid-15@tablet grid-15@mobile">
        <button class="button button-success open" (click)="onToggle($event)">Add gallery</button>
      </div>
      <div class="btn grid-4 grid-15@tablet grid-15@mobile">
        <button class="button button-success open" (click)="onToggle($event)">Add news</button>
      </div>
    </div>
  </div>

  <div *ngIf="galleryForm === true">
    <div class="pop-outer">
      <div class="row">
        <div class="grid-1 grid-1@tablet grid-1@mobile">
        </div>
        <div class="pop-inner grid-7 grid-14@tablet grid-14@mobile">
          <perfect-scrollbar style="max-width: 1000px; max-height: 1000px;">
            <!-- <gallery-add [uniqueTags]="tags"></gallery-add> -->
            <gallery-add></gallery-add>
          </perfect-scrollbar>
        </div>
        <div class="grid-1 grid-1@tablet grid-1@mobile">
          <a id="cancel" (click)="onToggle($event)"></a>
        </div>
      </div>

    </div>
  </div>

  <div class="row" *ngIf="newsForm === true">
    <div class="pop-outer">
      <a id="cancel" (click)="onToggle($event)"></a>
      <div class="pop-inner grid-7 grid-15@tablet grid-15@mobile">
        <div class="grid-3 grid-16@tablet grid-16@mobile">
        </div>
        <perfect-scrollbar style="max-width: 1000px; max-height: 1000px;">
          <news-add></news-add>
        </perfect-scrollbar>
      </div>
    </div>
  </div>

</div>
