<div>
  <!-- <span>
    Filtruj latami
  </span> -->
    <select class="select-control" (change)="yearChanged($event.target.value)">
      <option>Wszystkie galerie</option>
      <option *ngFor="let item of years">
        {{item}}
      </option>
    </select>
  <small>
    <p>Lata w podróży: {{ years.length }}</p>
  </small>
</div>
