<div class="grid-16 grid-16@tablet grid-16mobile">
  <div class="box">
    <div class="row">
      <div class="photo grid-4 grid-16@tablet grid-16@mobile">
        <img src="../../../assets/img/26677722_1869616136592458_3714931405636660151_o.jpg">
      </div>
      <div class="grid-12 grid-16@tablet grid-16@mobile">
        <div class="description">
          <div class="main-text">
            <h3>Mgr fizjoterapii Marika Babczyńska</h3>
            <!-- <div class="separ"></div> -->
            <p>
              Moje doświadczenia wyniesione ze sportu skłoniły mnie do wyboru drogi zawodowej jaką jest fizjoterapia.
              Pasjonuje mnie ludzkie ciało i jego nieamowite w połączenia. W swojej pracy przede wszystkim skupiam się
              na odnalezieniu przyczyny zaburzeń. Poszukiwanie przyczyny zaburzeń, analiza zaburzenia oraz jej
              likwidacja sprawia mi wiele satysfakcji. Jestem pasjonatką sportu, zdrowego stylu życia oraz
              alternatywnych metod leczenia. Jestem świadoma faktu, że ból wpływa na wiele obszarów naszego życia,
              dlatego wpływając na jego zmniejszenie lub całkowite usunięcie poprawiam jednocześnie jakość życia mojego
              podopiecznego, co jest dla mnie ogromnie ważne.
            </p>
          </div>
          <div class="btn grid-3 grid-16@tablet grid-16@mobile">
            <button class="button" routerLink="/omnie">Czytaj więcej</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
