// @import "../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/_variables.scss";

.photo {
  width: 100%;
  padding: 1rem;
  // margin: 1rem;
  // margin-left: 3rem;
  cursor: pointer;


  // -moz-box-shadow: 0px 6px 5px #ccc;
  // -webkit-box-shadow: 0px 6px 5px #ccc;
  // box-shadow: 0px 6px 5px #ccc;
  // -moz-border-radius: 190px;
  // -webkit-border-radius: 190px;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

  img {
    border-radius: 7px;
    width: 100%;
  }

  &:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

    box-shadow: 0px 0px 0px #ccc;
    -moz-box-shadow: 0px 0px 0px #ccc;
    -webkit-box-shadow: 0px 0px 0px #ccc;
    -khtml-box-shadow: 0px 0px 0px #ccc;
  }
}

.box {
  // margin: 1rem;
  padding: 1rem;
}



.main-text {
  background: white;
  padding: 1rem;
  border-radius: 7px;
}

.main-text>h3 {
  margin-top: 0;
}

.description {
  width: 100%;
  // margin: 1rem;
  padding: 1rem;
}

p {
  line-height: 1.6;
  text-align: justify;
}

a {
  margin-top: 1rem;
}

.btn {
  margin-top: 20px;
}
