@import "../../../assets/styles/_variables.scss";

// :host

.tags {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 7px 7px 7px 7px;
  padding: 6px 10px;
  margin: 6px 6px 6px 0;
  color: $lightest-gray;
  font-size: 11px;
  &:hover {
    background-color: $brand-primary;
    cursor: pointer;
  }
}

.btnUpdate {
  margin: 2rem 0 1rem 0;
}