<div class="grid-16 grid-16@tablet grid-16@mobile">
  <div class="row">
    <div *ngFor="let tag of uniqueTags">
      <div class="grid-1 grid-16@tablet grid-16@mobile">
        <small class="tags" [ngStyle]="{'background-color': tag.color}">{{tag.value}}</small>
        <input [style.background]=" tag.color" [value]="tag.color" [cpPosition]="'right'" [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']"
          [(colorPicker)]="tag.color" />
      </div>
    </div>
  </div>
</div>
<div class="grid-16 grid-16@tablet grid-16@mobile">
  <div class="btnUpdate grid-3 grid-16@tablet grid-16@mobile">
    <button class="button button-success" (click)="updateColors()">Update colors!</button>
  </div>
</div>
