<div class="grid-15 grid-15@tablet grid-15@mobile">
  <div class="content">
    <div class="row">
      <div class="grid-16 grid-16@tablet grid-16@mobile text">
        <div *ngIf="ifLoggedOn" id="orangeBox" (click)="deleteComment(news.newsId)">
          <div class="tooltip">
            <span id="x">x</span>
            <span class="tooltiptext">Usuń newsa</span>
          </div>
        </div>
        <div class="upper-box">
          <small>{{news.dateCreated | polishDate}}</small>
          <h3>
            {{news.title}}
          </h3>
        </div>
        <div class="lower-box">
          <div *ngIf="showMoreText === 'czytaj więcej'; else fullDescription" [innerHTML]="news.descriptionShort">
            <!-- <p>
              {{news.descriptionShort}}
            </p> -->
          </div>
          <div class="showMore">
            <a (click)="showMore($event)"> {{showMoreText}}
              <i class="fas fa-caret-down" [ngStyle]="{'transform': rotValue, '-webkit-transform': rotValue, '-ms-transform': rotValue}">
              </i>
            </a>
          </div>
          <ng-template #fullDescription>
            <div [innerHTML]="news.description">
            </div>
            <!-- <p>
              {{news.description}}
            </p> -->
          </ng-template>
          <div *ngIf="news.photos.length > 0">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
