@import "../../../../assets/styles/_variables.scss";
img {
  border-radius: 7px;
  width: 100%;
  cursor: pointer;

  &:hover {
    transition: 0.5s;
    // top: 3px;
    opacity: 0.5;
    // -webkit-box-shadow: inset 0px 0px 0px 2px red;
    // -moz-box-shadow: inset 0px 0px 0px 2px red;
    // box-shadow: inset 0px 0px 0px 2px red;
  }
}


:host ::ng-deep p {
  line-height: 25px;
}

.img-small {
  padding-right: 3px;
}

#images-box {
  margin: 1rem 0 7px 0;
}

.showMore {
  padding-top: 7px;
  font-weight: bold;
  color: $brand-primary;
  cursor: pointer;
}

.upper-box {
  width: 100%;
  border-bottom: solid 1px $brand-primary;
  // background-color:$brand-primary-hover;
  // background: $brand-primary-gradient;
  padding: 1rem;
  border-radius: 7px 7px 0 0;

}

.lower-box {
  padding: 1rem;
}

.content {
  position: relative;
  margin: 1rem 0 1rem 5%;
  // padding: 0 0 1rem 1rem;
  background-color:white;
  // background: linear-gradient(135deg, #58b28d, #79b743),#68b468;
  // border-bottom: solid 2px $brand-primary-second;
  border-radius: 7px 7px 7px 7px;
  &:hover #orangeBox {
    display: block;
    // border-radius: 7px;
    // -moz-box-shadow:    3px 3px 5px 6px #ccc;
    // -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    // box-shadow:         3px 3px 5px 6px #ccc;
    // background-color:$brand-primary-bg;
    // -webkit-box-shadow: inset 0px 0px 0px 2px $brand-primary;
    // -moz-box-shadow: inset 0px 0px 0px 2px $brand-primary;
    // box-shadow: inset 0px 0px 0px 2px $brand-primary;
  }
}

p {
  line-height: 1.6;
  text-align: justify;
}

.button {
  margin: 3rem 0;
}

#orangeBox {
  font-size: 17px;
  text-align: center;
  width: 13px;
  height: 13px;
  float: right;
  position: relative;
  top: 2px;
  right: 4px;
  cursor: pointer;
  z-index: 1;
  display: none;
  color: $brand-primary;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -98px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 90%;
  margin-left: -15px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

