@import "../../../../assets/styles/_variables.scss";

p {
  line-height: 1.8;
  margin: 1rem 0 1rem 0;
}

.list-element {
  // display: list-item;
  // list-style-type: disc;
  // list-style-position: inside;
  padding-left: 1em;
  text-indent: -.7em;
}

.list-element::before {
  content: "• ";
  color: $brand-primary;
}

.img-box {
  display: flex;
  justify-content: center;
}

img {
  display: block;
  max-width: 50%;
  padding: 1rem;
  max-height: 450px;
  margin: auto;
}

strong {
  color: $brand-primary;
}

h3 {
  margin-top: 1rem;
  color: $brand-primary;
  border-bottom: 1px solid $brand-primary;
  padding-bottom: 15px;
}

.offer1,
.offer2,
.offer3,
.offer4,
.offer5,
.offer6 {
  padding: 2rem;
  width: 100%;
  display: block;
  overflow: hidden;
  display: none;
}

.inner1,
.inner2,
.inner3,
.inner4,
.inner5,
.inner6 {
  position: relative;
  right: -1900px;
  display: none;
  padding: 1rem;
  border-radius: 7px;
}

#height-box {
  width: 100%;
  min-height: 900px;
  max-width: 1000px;
  display: none;
  margin: auto;
}

p {
  text-align: justify;
  text-justify: inter-word;
}
