<!-- OFERTA 1 -->
<div id="height-box">
  <div class="offer1">
    <div class="inner1">
      <p><strong>Igłoterapia</strong> to wprowadzanie sterylnych igieł, w celu leczenia bólu i dysfunkcji narządu
        ruchu(nie mylmy jej z
        akupunkturą,
        bo wspólnym mianowwnikiem jest tylko narzędzie) Igłoterapia jest to proces bardzo złożony, który obejmuje wiele
        reakcji
        biochemicznych, biomechanicznych i neurofizjologicznych.
      </p>
      <h3>
        Czym się różni od akupunktury?
      </h3>
      <p>
        Igłoterapia polega na mechanicznym drażnieniu tkanek takich jak więzadła, miogelozy – napięte włókna mięśniowe,
        czy też twory
        powięziowe znajdujące się między dwoma mięśniami lub mięśniem a tkanką kostną (których być nie powinno). Polega
        na
        głębszym nakłuciu, często na wywołaniu skurczów mięśniowych, „dziobaniu”, skręcaniu igły. Akupunktura natomiast
        polega
        na stymulacji meridianów, czyli pewnych szlaków energetycznych, które zazwyczaj biegną przez całe ciało. Polega
        na
        płytkim nakłuciu w celach stymulacji punktu.
      </p>
      <h3>Działanie:</h3>
      <p class="list-element">
        poprawa ukrwienia i nasycenia tlenem tkanek powiązanych neurologicznie z igłowaną strukturą
      </p>
      <p class="list-element">
        zwiększenie metabolizmu glukozy w niedotlenionych tkankach
      </p>
      <p class="list-element">
        stymulacja tworzenia nowych naczyń włosowatych, poprawa unaczynienia i rozszerzenie naczyń krwionośnych i
        mikrocyrkulacji
      </p>
      <p class="list-element">
        przeciwbólowe: Teoria Bramkowa Bólu, zwiększenie stężenia beta-endorfin, stymulacja włókien C i A-delta
      </p>
      <p class="list-element">
        segmentarne: zmniejszenie bólu i napięcia w tkankach odległych mających wspolne unerwienie
      </p>
      <p class="list-element">
        rozluźnienie napięć powięziowych i mięśniowych, które zaburzają prawidłową pracę stawów
      </p>
      <p class="list-element">
        poprawa koordynacji i równowagi
      </p>
      <h3>
        Możliwe odczucia w trakcie trwania zabiegu igłoterapii:
      </h3>
      <p class="list-element">
        rozpieranie i lekkie pieczenie
      </p>
      <p class="list-element">
        skurcz i drżenie mięśniowe
      </p>
      <p class="list-element">
        promieniowanie bólu w odłegłe miejsca
      </p>
      <p class="list-element">
        cierpnięcie
      </p>
      <p class="list-element">
        zanik czucia ułożenia okolicy igłowanej
      </p>
      <p>
        Po zabiegu mogą pojawić się delikatne siniaki lub dolegliwości o charakterze zakwasów utrzymujące się do 4 dni.
      </p>
      <p>
        Aby dobrze wykonać zabieg igłoterapii trzeba znać bardzo dobrze anatomię oraz mieć świetnie wykształconą sztukę
        palpacji.
        Aby była skuteczna należy ze snajperską precyzją trafić w miejsce restrykcji. Odpowiednie założenie
        terapeutyczne,
        mistrzowska precyzja i testy kontrolne to podstawa dobrze przeprowadzonego zabiegu.
      </p>
      <div class="img-box">
        <img src="../../../../assets/img/offer/1/1-3.jpg">
        <img src="../../../../assets/img/offer/1/1-2.jpg">
      </div>
    </div>
  </div>

  <!-- OFERTA 2 -->

  <div class="offer2">
    <div class="inner2">
      <h3>
        Diagnostyka stóp i indywidaulna wkładka ortopedyczna ICB
      </h3>
      <p>
        Termoplastyczne wkładki ortopedyczne ICB MEDICAL (termo-formowalne ortezy stopy ICB MEDICAL) to wynik badań
        nad  biomechaniką
        kończyn dolnych. Produkty ICB to efekt połączenia wiedzy naukowej i wieloletniej praktyki lekarzy
        ortopedów,podiatrów
        podologów i fizjoterapeutów. Podstawą wyjątkowej skuteczności wkładek ortopedycznych ICB jest opatentowany
        system  DUAL
        DENSITY TECHNOLOGY (Technologia Podwójnej Gęstości). Ta wyjątkowa technologia, oprócz uznanych na świecie
        właściwości
        terapeutycznych i użytkowych, umożliwia właściwe dopasowanie wkładki do stopy pacjenta w kilka minut podczas
        jednej
        wizyty.
      </p>
      <p>
        Termoplastyczny materiał z „pamięcią” z którego wykonane są wkładki ortopedyczne ICB MEDICAL, umożliwia
        dokonanie
        korekcji
        i jej oceny bezpośrednio po wykonaniu. W przypadku niezadowalającego efektu, mamy możliwość ponownego
        rozgrzania
        wkładki
        i ponownej korekcji. Materiał umożliwia również korekcję etapową. (np podczas pierwszej wizyty fizjoterapeuta
        wykonuję
        część zamierzonej korekcji docelowej, a następnie, np. po 3 miesiącach, na tej samej wkładce ustawia stopę do
        pełnej
        zamierzonej korekcji)
      </p>
      <img src="../../../../assets/img/offer/2/2-0.jpg">
      <h3>
        Dlaczego warto wybrać australijskie termoplastyczne wkładki ortopedyczne ICB MEDICAL
      </h3>
      <p class="list-element">
        wkładki ICB MEDICAL wykonują tylko specjaliści (fizjoterapeuci, lekarze oraz technicy ortopedzi)
      </p>
      <p class="list-element">
        system termoplastycznych wkładek ortopedycznych ICB MEDICAL został opracowany w Australii przez specjalistów
        (lekarzy podiatrów
        i biomechaników) i jest wynikiem wieloletnich badań medycznych
      </p>
      <p class="list-element">
        prawidłowa korekcja wady odbywa się w trakcie jednej wizyty w butach pacjenta na podstawie badania wykonanego
        przez specjalistę
      </p>
      <div class="img-box">
        <img src="../../../../assets/img/offer/2/2-1.jpg">
        <img src="../../../../assets/img/offer/2/2-4.jpg">
      </div>
      <p class="list-element">
        wkładka ICB MEDICAL jest termoformowalna na całej długości, grubości i szerokości (za pomocą pistoletu
        termicznego w temperaturze
        300-600°C), co daje możliwość terapeucie realizacji każdego planu na wkładkę korekcyjną lub odciążającą (system
        posiada
        również całą gamę dodatków umożliwiających wykonanie złożonych aplikacji na wkładce)
      </p>
      <p class="list-element">
        istnieje możliwość wielokrotnej zmiany kształtu wkładki, co umożliwia np korekcję etapową (np w celu ochrony
        stawów kolanowych),
        lub dalszą terapię wkładką po uzyskaniu wstępnych efektów (np po wizycie kontrolnej)
      </p>
      <p class="list-element">
        materiał EVA o opatentowanej zamkniętej strukturze (bez pęcherzyków powietrza) z którego wykonana wkładka
        ortopedyczna, posiada
        pamięć kształtu, co umożliwia wykonywanie odbarczeń czasowych na wkładce (np przy bolesnych modzelach,
        zapaleniu
        rozcięgna
        podeszwowego – ostrogi piętowej).
      </p>
      <p class="list-element">
        szeroki wachlarz możliwości doboru odpowiedniej wkładki – występują w 5 stopniach twardości (dobór w zależności
        od wagi pacjenta,
        oraz rodzaju dysfunkcji)
      </p>
      <p class="list-element">
        opatentowana przez ICB MEDICAL podwójna gęstość – wkładki w różnych miejscach powierzchni mają rożną twardość –
        tam gdzie
        wymagane jest wsparcie, materiał jest bardziej gęsty (sztywniejszy), w innych miejscach gdzie gdzie niezbędny
        jest
        komfort, materiał ma mniejszą gęstość (jest bardziej miękki, komfortowy)
      </p>
      <p class="list-element">
        możliwość doboru wkładki powlekanej z zewnątrz tkaniną (np do półbutów), w 2/3 długości (np do balerinek),
        specjalnych do
        damskich butów na obcasach, sportowych dla aktywnych, czy specjalnych dla dzieci, czy bardzo miękkich –
        komfortowych
        dla osób starszych lub tego wymagających.
      </p>
      <p class="list-element">
        wyrównanie zaburzeń w ustawieniu stawu skokowego zmniejsza dolegliwości kolana, biodra, kręgosłupa, a nawet
        barku. Łańcuchy
        synkinetyczne naszego ciała, które przebiegają od stóp do głowy nie będą pracować wydajnie, jeśli słabym
        ogniwem
        będzie
        stopa.
      </p>
      <p class="list-element">
        przed wykonaniem indywidualnej wkładki robię wywiad oraz diagnostykę całego ciała i szczegółowo badam stopy,
        zawsze zalecam
        wkładkę w połączeniu z terapią, gdyż pewne utrwalone kompensacje, które istniały przez jakiś okres czasu mogą
        spowodować,
        że wkładka nie zadziała optymalnie. Jedna wizyta potrafi już bardzo dużo zmienić w temacie obciążenia stóp.
        Dlatego
        zalecam najpierw terapię, a później na gotowy i zresetowany z kompensacji układ ruchu dobrać wkładkę.
      </p>
      <div class="img-box">
        <img src="../../../../assets/img/offer/2/2-3.jpg">
        <img src="../../../../assets/img/offer/2/2-2.jpg">
      </div>
    </div>
  </div>

  <!-- OFERTA 3 -->

  <div class="offer3">
    <div class="inner3">
      <p>
        <strong>Refleksoterapia</strong> to inaczej akupunktura ucha czyli metoda stymulacji małżowiny usznej w celu
        uzyskania efektu
        leczniczego. Aurikuloterapia to jedna z dziedzin refleksologii. Refleksologia to nauka zajmująca się badaniem
        odruchów ludzkiego organizmu, która łączy w sobie elementy anatomii, neurologii, psychiatrii i psychologii.
        Refleksoterapia to także rodzaj alternatywnej terapii leczniczej, która opiera się na stymulacji (zazwyczaj
        poprzez igle lub ucisk) określonych miejsc na ciele, tak zwanych „refleksów” lub punktów spustowych, w celu
        pozytywnego wpłynięcia na funkcjonowanie organów wewnętrznych. Ucho jest wyjątkoym miejscem, gdyż jako jedyne
        posiada skórne zakończenia nerwowe nerwu błędnego, a droga bodźca z ucha do mózgu jest bardzo krótko, dzięki
        czemu impuls przekazywany jest dużo szybciej.
      </p>
      <div class="img-box">
        <img src="../../../../assets/img/offer/3/Depositphotos_7387948_xl-2015.jpg">
        <img src="../../../../assets/img/offer/3/Depositphotos_102325772_xl-2015.jpg">
      </div>
      <h3>
        Jak wygląda zabieg?
      </h3>
      <p>
        Wybieram maxymalnie 5 aktywnych punktów na ucho. Wbijam igiełki bardzo płytko 1-2mm. A następnie przechodzę do
        terapii manualnej. Po 30 minutach wyciągam igły. Po terapii aplikuje ziarenko vacarii uczę samodzielnej
        stymulacji punktów. Po 4-5 dniach ziarenko vacari należy ściągnąć. W ten sposób jeszcze 5 dni po wizycie można
        korzystać z autoterapii i wspomagania samoleczenia.
      </p>
      <div class="img-box">
        <img src="../../../../assets/img/offer/3/Depositphotos_5830049_xl-2015.jpg">
        <img src="../../../../assets/img/offer/3/Depositphotos_64287421_original.jpg">
      </div>
      <img src="../../../../assets/img/offer/3/Acupuntura.jpg">
    </div>
  </div>

  <!-- OFERTA 4 -->

  <div class="offer4">
    <div class="inner4">
      <p>
        Pinopresura to nieinwazyjna metoda rehabilitacji, z powodzeniem stosowana zarówno w sporcie jak i u pacjentów
        bólowych. Zapewnia odreagowanie psychologiczne i nerwowe, a także uwalnia napięcia stresowe ośrodkowego układu
        nerwowego. Opiera ona swoje terapie na wiedzy z zakresu elektryczności tkanek oraz medycyny odruchowej. Powięź
        będąca aktualnie obiektem wielu badań składa się w dużej mierze z tkanek kolagenowych, białek mających
        właściwości przewodnictwa elektrycznego. Szeroko rozumiane przeciążenie tkanek wpływa na powstawanie nasilonego
        przepływu prądu prowokując powstawanie desyfikacji powięzi skutkujące bólem.
      </p>
      <p>
        Włókna kolagenowe w dużej części ułożone są równolegle do siebie, dzięki temu mają zdolność do kurczenia się
        zachowując jednocześnie dużą gibkość. Ponadto ta budowa zapewnia im krystaliczność. To ważne i ciekawe zjawisko
        jest często pomijane w szeroko rozumianych badaniach/ analizach. Krystaliczna forma wewnątrz Żywej macierzy
        wykazuje w pewnym stopniu zbliżone właściwości do kryształów mineralnych, np. kwarcu.
      </p>
      <div class="img-box">
        <img src="../../../../assets/img/offer/4/pino.jpg">
        <img src="../../../../assets/img/offer/4/pinoterapia (1).jpg">
      </div>
      <p>
        Budowa kryształów organicznych obserwowanych w układzie mięśniowo- powięziowym jest tworzona przez cienkie,
        długie i dość elastyczne filamenty, takie jak aktyna, miozyna czy elastyna. Dlatego jest to struktura bardziej
        elastyczna niż sztywna. Ten punkt widzenia tkanki został opisany w 1941 (Szent-Gyorgyi) i otworzył jednocześnie
        drogę ważnym odkryciom ( obecnie potwierdzonym ), że białka mają właściwości półprzewodnikowe.
      </p>
      <img src="../../../../assets/img/offer/4/pinoterapia_fizjosport_piny.jpg">
      <p>
        Ciekłe kryształy tkankowe o których mowa mają również właściwości piezoelektryczne. Kiedy zostaną poddane
        naprężeniu ( np. poprzez uciśnięcie pinem) wówczas wytwarza ona pole elektryczne. Można więc uznać, że
        wszelkiego
        rodzaju odkształcenia, wynikające z napięć powięziowych prowadzą do powstania słabego pola elektrycznego, które
        jest zjawiskiem działania piezoelektrycznego. Jeżeli poddamy analizie wypreparowane, suche ścięgno to zjawisko
        piezoelektryczne będzie nie mal tak silne jak w przypadku kryształu kwarcu.
      </p>
      <p>
        Z pinoterapii korzystam najczęściej w terapii bólu kręgosłupa, barku, biodra, stopy, drętwieniach rąk, terapii
        zatok, bólach głowy, ale także pomocniczo przy wielu innych problemach.
      </p>
    </div>
  </div>


  <!-- OFERTA 5 -->

  <div class="offer5">
    <div class="inner5">
      <p>
        Jest manualną terapią dysfunkcji narządów układu pokarmowego i układu moczowo płciowego. Jej działanie w
        fizjoterapii między innymi oparte jest na odruchach wiscerosomatycznych i somatowisceralnych. Narządy,
        unerwiane
        z poszczególnego segmentu kręgosłupa przy zaburzeniach swojej pracy będą zaburzać ruchomość tego segmentu, mogą
        one na drodze wspólnego unerwienia zaburzać również funkcjonowanie mięśni czy stawów. Moga rowniez wywoływać
        ból
        lub napięcie w strefach odruchowych często oddalonych od źródła problemu. Układ powięziowy, który na zaburzenie
        pracy niejednokrotnie reaguje napięciem, może je przenosić na trasie swoich połączeń i doprowadzić do
        ograniczeń
        ruchomości, co wtórnie objawić się może bólem. Krezka jelita umocowa, na jest do tylnej ściany jamy brzucha.
        Duże
        napięcie jelita cienkiego i grubego często jest przyczyną bólu kręgosłupa, miednicy, stawów biodrowych, bólów
        głowy.  Zlikwidowanie zastojów żylno-limfatycznych w narządach i przestrzeniach międy nimi, poprawa ruchomości
        narządów wewnętrznych i zrównoważenie napięć, prowadzi do normalizacji czynności fizjologicznych i regeneracji
        całego organizmu. Brzuch to nasze centrum dowodzenia. Jeśli w środku jesteśmy zdrowi szybciej zdrowiejemy na
        zewnątrz.
      </p>
      <img src="../../../../assets/img/offer/5/Depositphotos_77620050_xl-2015.jpg">
    </div>
  </div>

  <!-- OFERTA 5 -->

  <div class="offer6">
    <div class="inner6">
      <p><strong>Medycyna Manualna</strong> jest to dział medycyny zajmujący się diagnozowaniem i leczeniem wykrytych
        odwracalnych zmian czynnościowych narządu ruchu. Techniki terapii manualnej pozwalają często na spektakularne
        przywrócenie stanu szeroko-rozumianej prawidłowej funkcji jak i utrzymanie stanów , które zapobiegają
        pogłębianiu się patologii. Do zaburzeń układu ruchu może dochodzić z różnych przyczyn:</p>
      <p class="list-element">zaburzenia funkcjonalne będące wynikiem sumowania się różnych przeciążeń</p>
      <p class="list-element">bloki traumatyczne będące reakcją na uraz</p>
      <p class="list-element">zaburzenia powstałe przez "bóle rzutowane" wywołane drogą reflektoryczną jako reakcja na
        choroby wewnętrzne</p>
      <p>Medycyna manualna skupia się na leczeniu zaburzeń w kilku układach regulacyjnych:</p>
      <p class="list-element">układ humoralny</p>
      <p class="list-element">układ nerwowy autonomiczny</p>
      <p class="list-element">układ nerwowy somatyczny pozapiramidowy</p>
      <p class="list-element">układ morfogenetyczny</p>
      <p class="list-element">układ piezoelektryczny </p>
      <p>Każdy z układów leczy się poprzez inne metody terapii. Dlatego nie na każdego zadziała ta sama technika mimo
        podobnych objawów. Techniki, które wykorzystuje to terapia powięziowa, masaż leczniczy, igłoterapia,
        pinopresura, masaż bańką chińska, mobilizacje i manipulacje stawów, akupunktura, akupresura, ćwiczenia.</p>


      <p>Jest to praca manualna na mięśniach, ścięgnach, przegrodach między mięśniowych. Łączę techniki masażu z ruchem
        rozciągającym mięśnie, wykonuje masaż w poprzek włókien mięśniowych. Jest to masaż powolny, ale dość mocny, w
        zależności od tego do której warstwy mięśni chcę dotrzeć.</p>
      <div class="img-box">
        <img src="../../../../assets/img/offer/6/Depositphotos_112688550_original.jpg">
        <img src="../../../../assets/img/offer/6/Depositphotos_73431259_original.jpg">
      </div>
      <img src="../../../../assets/img/offer/6/Depositphotos_77910154_xl-2015.jpg">
    </div>
  </div>
</div>
