@import "../../../assets/styles/_variables.scss";

:host {
  width: 20%;
}

span {
  padding-bottom: 1%;
}


// .person {
//   width: 10%;
//   padding: 1rem;
// }

// @media (max-width: 1200px) {
//   .person {
//     width: 15%;
//     // margin: 20px 0 0 10px;;
//   }
// }

.upperComment {
  width: 100%;
  float: right;
  padding: 1rem;
  // margin: 0 1% 0 1%;
  border-bottom: solid 1px $brand-primary;
  clear: both;
}

.upperComment small {
  float: right;
  margin-right: 10px;
}

.comment {
  position: relative;
  margin: 50px 0px 50px 0;
  background-color: white;
  border-top: 2px solid $brand-primary;
  height: auto;
  padding: 1rem;
  border-radius: 0px 30px 30px 30px;
  line-height: 1.6;
  // width: 100%;
  // margin: 0 3rem 0 3rem;
}

.lowerComment {
  width: 100%;
  float: right;
  padding: 1rem;
  // margin: 0 1% 0 1%;
  word-break: break-all;
}

.clear{
  clear: both;
}

#orangeBox {
  font-size: 17px;
  text-align: center;
  width: 13px;
  height: 13px;
  float: right;
  position: relative;
  top: 2px;
  right: 4px;
  cursor: pointer;
  z-index: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -98px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 90%;
  margin-left: -15px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
