<div class="comment grid-16 grid-16@tablet grid-16@mobile">

  <div *ngIf="ifLoggedOn" id="orangeBox" (click)="deleteComment(comment.commentId);">
    <div class="tooltip">
      <span id="x">x</span>
      <span class="tooltiptext">Usuń komentarz</span>
    </div>
  </div>

  <!-- <img class="person" src="../../../assets/img/person-male.png"> -->
  <!-- <div class="grid-1 grid-16@tablet grid-16@mobile"></div> -->
  <div class="upperComment grid-16 grid-16@tablet grid-16@mobile">
    <span>
      <p>{{ comment.firstName }} {{ comment.lastName }}
        <small>{{ comment.dateCreated.seconds * 1000 | date | polishDate }}</small>
      </p>
    </span>
  </div>

  <div class="lowerComment grid-16 grid-16@tablet grid-16@mobile">
    <span>
      <p>{{ comment.message }}</p>
    </span>
  </div>
  <div class="clear">
  </div>

</div>
