@import "../assets/styles/_variables.scss";

// .photo {
//   width: 100%;
// }
.container {
  padding: 3rem 0 3rem 0;
}

body {
  background-color: #eae6e5;
}


// .logo {
//   display: block;
//   clear: both;
//   float: left;
//   width: 200px;
// }

// @media (max-width: 600px) {
//   .logo {
//     display: none;
//   }
// }

// .paralax {
//   background-image: url('../assets/img/Depositphotos_112688550_original.jpg');
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   min-height: 700px;
//   margin-bottom: 2rem;
// }

#fb-icon,
#insta-icon, {
  position: fixed;
  left: 0;
  width: 40px;
  height: 50px;
  background-color: $brand-primary;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  z-index: 3;
  &:hover {
    width: 80px;
  }
}


#fb-icon {
  top: 110px;
}

#insta-icon {
  top: 165px;
}

// #go-up {
//   bottom: 0;
//   right: 2%;
//   position: fixed;
//   width: 50px;
//   height: 50px;
//   background-color: $brand-primary;
//   border-top-left-radius: 40px;
//   border-top-right-radius: 40px;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   transition: 0.5s;
//   cursor: pointer;
//   &:hover {
//     height: 60px;
//   }
// }

i {
  // transition: 0.5s;
  color: white;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  #fb-icon,
  #insta-icon {
    width: 25px;
    > i {
      -ms-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
}
