<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"> -->


<body>
  <nav></nav>
  <main-photo-slider></main-photo-slider>

  <section class="container">

    <router-outlet></router-outlet>

  </section>

  <footer></footer>

</body>
<a href="https://www.facebook.com/MBfizjo">
  <div id="fb-icon-box">
    <div id="fb-icon">
      <i class="fab fa-facebook-square"></i>
    </div>
  </div>
</a>

<a href="https://www.instagram.com/mbfizjo/">
  <div id="insta-icon-box">
    <div id="insta-icon">
      <i class="fab fa-instagram"></i>
    </div>
  </div>
</a>
