@import "../../../assets/styles/_variables.scss";
.pagination {
  display: inline-block;
  margin: 5rem 0 5rem 0;
  position: relative;
  width: 100%;
}

.pagination a.nonactivepage {
  float: left;
  padding: 8px 16px; // border: 1px solid #ddd;
  cursor: pointer;
  color: black;
  &:hover {
    background-color: $brand-primary;
    color: white;
  }
  &:hover:not(.active) {
    background-color: $brand-primary;
  }
}

.pages {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

a.activepage {
  float: left;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid $brand-primary;
  color: $brand-primary;
}

a.disabled {
  float: left;
  padding: 8px 16px;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.3;
}

.pageCounter {
  float: right;
  margin-top: 20px;
}
