<div class="pagination grid-16 grid-16@tablet grid-16@mobile">
  <div class="pages">
    <a [ngClass]="{'disabled': currentPage === 0, 'nonactivepage': currentPage >= 1 }" class="nonactivepage" (click)="setCurrentPage(0)">&lt;&lt;</a>
    <a [ngClass]="{'disabled': currentPage === 0, 'nonactivepage': currentPage >= 1 }" class="nonactivepage" (click)="setCurrentPage(currentPage - 1)">&lt;</a>

    <ng-container *ngFor="let item of numberOfPages; let i = index">
      <ng-container *ngIf="item | pageView: numberOfPages.length: currentPage">
        <a [ngClass]="{'activepage': currentPage === i, 'nonactivepage': currentPage !== i }" (click)="setCurrentPage(i)">{{item + 1}}</a>
      </ng-container>
    </ng-container>

    <a [ngClass]="{'disabled': (currentPage + 1) === numberOfPages.length, 'nonactivepage': numberOfPages.length > currentPage }"
      (click)="setCurrentPage(currentPage + 1)">&gt;</a>
    <a [ngClass]="{'disabled': (currentPage + 1) === numberOfPages.length, 'nonactivepage': numberOfPages.length > currentPage }"
      (click)="setCurrentPage(numberOfPages.length - 1)">&gt;&gt;</a>
  </div>
</div>
<!-- <div class="pageCounter" *ngIf="numberOfPages.length">
  Strona {{ currentPage + 1 }} z {{ numberOfPages.length }}
</div> -->
