@import "../../../assets/styles/_variables.scss";

.box {
  padding: 3rem;
}

.wrapper {
  position: relative;
  max-width: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  margin: 2rem 0 2rem 0;
  line-height: 1.6;
}

.info-box {
  padding-bottom: 1rem;
}

.upper-text {
  width: 100%;
  background-color: white;
  // background: $brand-primary-gradient;
  padding: 1rem 1rem 1rem 1rem;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  cursor: pointer;
  border-bottom: solid 4px $brand-primary;
  line-height: 1.8;
  &:hover {

  }
}

.hidden-box {
  display: none;
  position: relative;
  width: 100%;
  // background-color: white;
  background: $brand-primary-gradient;
  // border: solid 5px $brand-primary;
  border-top-style: none;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  // top: -100px;
  // height: 0%;
  overflow: hidden;
  // height: 300px;
}

.hidden-text {
  position: relative;
  left:-1100px;
  // display: none;
  text-align: justify;
  line-height: 1.8;
  // visibility: hidden;
  // width: 100%;
}

@media (max-width: 1024px) {

  .wrapper {
    max-width: 100%;
  }

}
