<div class="box container">
  <div class="grid-16 grid-12@tablet grid-16@mobile">
    <h1>FAQ</h1>
  </div>
  <div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>

  <div class="grid-16 grid-16@tablet grid-16@mobile">
    <div class="wrapper">
      <div *ngFor='let q of faq' class="info-box">
        <div class="upper-text">
          <p>{{q.title}}</p>
        </div>
        <div class="hidden-box">
          <div class="hidden-text">
            <p class="light">{{q.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
