<!-- <img class="logo" src="../../../assets/img/angular-logo.png">

<div>
  <a routerLink="/contact" routerLinkActive="is-active">CONTACT</a>
  <a routerLink="/galleries" routerLinkActive="is-active">GALLERY</a>
  <a routerLink="/dashboard" routerLinkActive="is-active">HOME</a>
</div>
<div class="null"></div> -->

<div class="grid-16 grid-16@tablet grid-16@mobile">
  <div id="navigation">
    <div id="top">
      <div id="logo-background">
        <a routerLink="/home"><img id="logo" src="../../../assets/img/angular-logo.png"></a>
      </div>
      <div id="menu-line" class="grid-16@tablet grid-16@mobile">
        <a class="under" routerLink="/kontakt" routerLinkActive="is-active">KONTAKT</a>
        <a class="under" routerLink="/faq" routerLinkActive="is-active">FAQ</a>
        <a class="under" routerLink="/blog" routerLinkActive="is-active">BLOG</a>
        <a class="under" routerLink="/cennik" routerLinkActive="is-active">CENNIK</a>
        <a class="under" routerLink="/oferta" routerLinkActive="is-active">OFERTA</a>
        <a class="under" routerLink="/omnie" routerLinkActive="is-active">O MNIE</a>
        <a class="under" routerLink="/home" routerLinkActive="is-active">STRONA GŁÓWNA</a>
      </div>
      <div class="null"></div>
    </div>
    <div id="dropdown-nav">
      <div class="dropbtn-nav grid-3@tablet grid-3@mobile">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </div>
</div>
<div class="nav-box">
  <div class="dropdown-content-nav">
    <a class="under" routerLink="/home" routerLinkActive="is-active">STRONA GŁÓWNA</a>
    <a class="under" routerLink="/omnie" routerLinkActive="is-active">O MNIE</a>
    <a class="under" routerLink="/oferta" routerLinkActive="is-active">OFERTA</a>
    <a class="under" routerLink="/cennik" routerLinkActive="is-active">CENNIK</a>
    <a class="under" routerLink="/blog" routerLinkActive="is-active">BLOG</a>
    <a class="under" routerLink="/faq" routerLinkActive="is-active">FAQ</a>
    <a class="under" routerLink="/kontakt" routerLinkActive="is-active">KONTAKT</a>
  </div>
</div>
