@import "../../../assets/styles/_variables.scss";
@import "../main-photo-slider/main-photo-slider.component.scss";

#logo {
  width: 160px;
  // float: left;
  // margin-top: 6px;
  position: absolute;
  top: 8px;

}

// #logo-background {
//   background-color: white;
//   width: 320px;
//   height: 320px;
//   border-radius: 50%;
//   position: absolute;
//   top: -30px;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }

// @media (max-width: 1085px) {
//   #logo {
//     display: none;
//   }
// }



#navigation {
  // position: relative;
  display: block;
  height: 100px;
}

#top {
  position: relative;
  z-index: 5;
  padding: 2rem 10% 0 10%;
  width: 100%;
  height: 100px;
  background-color: white;
  transition: width 2s, height 2s, transform 2s;

  #menu-line > a {
    text-decoration: none;
    padding: 9px 20px;
    float: right;
    font-weight: 400;
    color: $darker-gray;

    &:after {
      content: '';
      display: block;
      margin-top: 5px;
      height: 3px;
      width: 0;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
    }

    &:hover:after {
      width: 100%;
      background-color: $brand-primary;
      color: white;

    }

    &.is-active {
      color: $brand-primary;
      font-weight: bold;
    }
  }

  .null {
    clear: both;
  }
}

.dropbtn-nav {
  color: $darker-gray;
  border-radius: 7px;
  padding: 10px;
  font-size: 16px;
  border: none;
  float: right;
  cursor: pointer;
}

#dropdown-nav {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 5;
  width: 100%;
}

.nav-box {
  overflow: hidden;

  .dropdown-content-nav {
    // display: none;
    position: absolute;
    top: -700px;
    right: 0;
    background-color: rgb(255, 255, 255);
    // min-width: 200px;
    width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
  }
}



.dropdown-content-nav a {
  color: $darker-gray;
  padding: 1.5rem;
  // margin: 0 30%;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid $brand-primary;
}

.dropdown-content-nav>a:last-child {
  border-bottom: none;
}

.dropdown-content-nav a:hover {
  background-color: $brand-primary;
  color: rgb(255, 255, 255);
}


.dropbtn-nav>i {
  color: $darker-gray;
  font-size: 2em;
}


@media (max-width: 1100px) {
  #menu-line {
    display: none;
  }

}

@media (min-width: 1099px) {
  #dropdown-nav {
    display: none;
  }
  .nav-box {
    display: none;
  }

  .dropdown-content-nav {
    top: -700px;
  }
}
