<div class="box">
  <div class="grid-16 grid-16@tablet grid-16@mobile">
    <div class="row">
      <div class="grid-3 grid-6@tablet grid-6@mobile">
        <galleries-search (searchValue)="setSearchValue($event)" [galleries]="galleries" [tag]="tagSeachValue"></galleries-search>
      </div>
      <!-- <div class="header1 grid-2 grid-6@tablet grid-6@mobile">
        <year-filter (choosenYear)="setYearValue($event)" [years]="years"></year-filter>
      </div> -->
      <!-- <div class="header1 grid-4 grid-16@tablet grid-16@mobile"></div> -->
      <div class="switch-box grid-1 grid-1@tablet grid-1@mobile">
        <label class="switch">
          <input type="checkbox" (click)="showTagList();">
          <span class="slider round"></span>
        </label>
        <!-- <small>
          <p class="switch-text">Tagi</p>
        </small> -->
      </div>
      <!-- <div class="btn-box grid-2 grid-4@tablet grid-4@mobile">
        <button class="button" (click)="exportGalleries();">Export galleries</button>
      </div>
      <div class="btn-box grid-2 grid-4@tablet grid-4@mobile">
        <button class="button" (click)="removeGalleries($event.galleryId);" [disabled]="!galleries.length">Remove
          galleries</button>
      </div> -->
    </div>
  </div>
  <div class="grid-16 grid-16@tablet grid-16@mobile separ"></div>

  <div *ngIf="showTags === true" class="tags-box grid-16 grid-16@tablet grid-16@mobile">
    <div class="row">
      <div *ngFor="let t of uniqueTags; let i = index">
        <small class="tags" (click)="setTagSeachValue(t.value)" (mouseover)="hover = i" (mouseleave)="hover = -1"
          [ngStyle]=" {'border': 'solid 2px ' + t.color, 'background-color': hover === i ? 'transparent' : t.color,
          'color': hover === i ? t.color : 'white'}">
          {{t.value}}
        </small>
      </div>
    </div>
  </div>


  <div class="pop-outer">
    <div class="row">
      <div class="grid-1 grid-1@tablet grid-1@mobile">
      </div>
      <div class="pop-inner grid-7 grid-14@tablet grid-14@mobile">
        <perfect-scrollbar style="max-width: 1000px; max-height: 1000px;">
          <gallery-edit *ngIf="showForm === true" [galleryToEdit]="galleryToEdit"></gallery-edit>
          <!-- <gallery-edit *ngIf="galleryToEdit" [galleryToEdit]="galleryToEdit"></gallery-edit> -->
        </perfect-scrollbar>
      </div>
      <div class="grid-1 grid-1@tablet grid-1@mobile">
        <a id="cancel" (click)="onToggle()"></a>
      </div>
    </div>
  </div>

  <div class="row inner-gallery-box grid-16 grid-16@tablet grid-16@mobile">
    <gallery *ngFor="let item of galleries  | slice:start:end" (galleryInfo)="removeGallery($event)" (openEditForm)="onToggle($event)"
      [gallery]="item" class="grid-5 grid-7@desktop grid-16@tablet grid-16@mobile"></gallery>
  </div>



  <div class="row row-align-middle" *ngIf="galleries">
    <div class="grid-16">
      <ng-container>
        <pagination *ngIf="galleries.length" [itemsList]="dataToChild" (pageData)="getPageData($event)"></pagination>
      </ng-container>
    </div>
  </div>

</div>
