@import "../../../assets/styles/_variables.scss";
@import "../admin/admin.component.scss";
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "../nav/nav.component.scss";

.box {
  padding: 0 3rem;
}

.tags-box {
  margin: 1rem 0 0 0;
}

.btn-box {
  margin: 0 1rem 1rem 1rem;
}

.switch-box {
  text-align: center;
}

.switch-text {
  margin: 4px 0 0 0px;
}


.pop-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}


.tags {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 7px 7px 7px 7px;
  padding: 6px 10px;
  margin: 0 6px 6px 0;
  color: $lightest-gray;
  font-size: 11px;
  transition: 0.5s;
  cursor: pointer;
  border: solid 2px;

  &:hover {
    // background-color: $brand-primary;
  }
}

h1,
h6 {
  color: white;
}


.button {
  margin-top: 7px;
  width: 100%;

  &:hover {
    background-color: transparent;
    background-repeat: no-repeat;
    color: $brand-primary;
    border-color: $brand-primary;
  }
}

.inner-gallery-box {
  display: flex;
  justify-content: center;
  align-items: center;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: $brand-primary;
}

input:focus+.slider {
  box-shadow: 0 0 1px $brand-primary;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

// /* Rounded sliders */
// .slider.round {
//   border-radius: 34px;
// }

// .slider.round:before {
//   border-radius: 50%;

.separ-short {
  margin: 0 0 7px 0;
  border: 1px solid $brand-primary;
  width: 70px;
}

.show-tags-btn {
  margin: 10px 0 10px 0;
}

.show-tags-btn>p {
  margin: 10px 0 10px 0;
}

.switch-box {
  padding-top: 3px;
  margin-left: 10px;
}
