<form id="box" #newsForm="ngForm" (ngSubmit)="uploadGallery(newsForm)" novalidate>
    <div class="container">
      <div class="row">

        <div class="grid-15">
          <h2 class="form-title">news</h2>
        </div>

        <div class="grid-15 grid-15@tablet grid-15@mobile">
          <label>Title</label>
          <input type="text" class="input-control" name="title" #title="ngModel" [(ngModel)]="news.title" required>
          <p class="text-danger" [hidden]="title.valid || title.pristine">Title required!</p>
        </div>

        <div class="grid-15 grid-15@tablet grid-15@mobile">
          <label>Date</label>
          <input type="date" class="input-control" name="dateCreated" #dateCreated="ngModel" [(ngModel)]="news.dateCreated" required>
          <p class="text-danger" [hidden]="dateCreated.valid || dateCreated.pristine">Date required!</p>
        </div>

        <div class="grid-15 grid-15@tablet grid-15@mobile">
          <label>Description</label>
          <textarea type="text" class="input-control" name="description" #description="ngModel" [(ngModel)]="news.description" required></textarea>
          <p class="text-danger" [hidden]="description.valid || description.pristine">Description required!</p>
        </div>

      </div>


      <div class="row">
        <div class="grid-15 grid-15@tablet grid-15@mobile">
          <h2 class="form-title">Photos</h2>
        </div>
      </div>

      <div class="drop grid-15 grid-15@tablet grid-15@mobile">
        <dropzone [config]="config" [message]="'Click or drag images here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
      </div>

      <ng-container *ngIf="news.photos.length > 0">
        <div *ngFor="let p of news.photos, let i = index" class="grid-15 grid-15@tablet grid-15@mobile">
          <div *ngIf="p.name" class="photo-container">

            <div class="row">
              <div class="grid-2 grid-2@tablet grid-2@mobile">
                <img id="photo-thumbnail" src="{{p.url}}">
              </div>

              <div class="grid-14 grid-14@tablet grid-14@mobile">
                <div class="row">
                  <div class="upload-text grid-14 grid-14@tablet grid-14@mobile">
                    <h6>{{p.name | slice:0:20}} | {{p?.progress}} %</h6>
                  </div>

                  <div class="btn-bar grid-2 grid-2@tablet grid-2@mobile">
                    <a *ngIf="i !== 0" class="up-btn" (click)="movePhoto(i, true);">
                      <i class="fas fa-arrow-circle-up"></i>
                    </a>
                    <a *ngIf="i !== news.photos.length - 1" class="down-btn" (click)="movePhoto(i);">
                      <i class="fas fa-arrow-circle-down"></i>
                    </a>
                    <a class="remove-btn" (click)="removePhoto(i, true);">
                      <i class="fas fa-times-circle"></i>
                    </a>
                  </div>

                  <div class="progress grid-15 grid-15@tablet grid-15@mobile">
                    <div class="text-bar">
                    </div>
                    <div class="progress-bar" [ngStyle]="{ 'width': p.progress + '%' }"></div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </ng-container>

    </div>

    <div class="row">
      <div class="grid-16 buttons">
        <button class="button button-primary" [disabled]="!newsForm.form.valid">Save news</button>
        <button id="reset" type="reset" class="button button-primary" (click)="clearPopUp()">Clear</button>
      </div>
    </div>
  </form>
